.product-count-page-group{
    margin-bottom:1rem;
    color:#262626;

    img.etp{
        width: 21rem;
        margin-top: 1rem;
    }

    div.ett{
        color: #ccc;
        font-weight: 450;
        margin-top: -2rem;
    }

    .address-modal{
        position: unset !important;
    }
    .cmenu{
        display: flex;
        z-index: 9;
        justify-content: space-between;
        margin-bottom: 0.5rem !important;
        border-radius: 5px;
        background: #e7e7e7;
        color: #000;
        font-weight: 400;
        .left{
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
        }
        .right{
            display:flex;
            // margin-right:-1rem;
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
        }
        .center{
            text-transform: uppercase;
            font-size: 0.95rem;
            font-weight: 400;
            margin-top: 0.25rem;
        }
    }
    .col-md-6.zbor{
        background-color: #fff !important;
    }
    .gr1{
        margin-top: 0.5rem;

        .total-price-group{
            margin-top:1.5rem;
            .ztotal{
                display: flex;
                justify-content: flex-end;
                margin-right: 1rem;
                margin-top:0.25rem;
                .l{
                    margin-right:0.5rem;
                }
                .r{
                    color:#777;
                }
                .r{
                    color: #ef5350;
                    font-size: 1.15rem;
                }
            }
        }

        .order_info{
            margin-left:1rem;
            margin-top:1rem;
            .order-id{
                margin-bottom:1rem;
                display:flex;
                .l{
                    text-transform: uppercase;
                    margin-right: 0.5rem;
                }
                .t{
                    color:#ef5350
                }
            }
            .group-item{
                margin-bottom:1rem;
                .lbl{
                    font-size: 0.85rem;

                    .edit{
                        color: #ef5350;
                        cursor: pointer;
                        font-weight: 400;
                    }
                }
                .note-g{
                    height: 5rem;
                    padding: 0.5rem 0.5rem 0rem 0.5rem;
                    border: solid 1px #262626;
                    border-radius: 5px;
                    textarea{
                        height: 4rem !important;
                        width: 100%;
                    }
                }
                .address-g{
                    display:flex;
                    .no-data{
                        font-size: 0.95rem;
                        color:#ccc;
                    }
                    .sel{
                        flex-grow: 1;
                        font-weight: 400;
                        font-size: 0.95rem;
                        margin-right: 2rem;

                        .name-phone{
                            font-weight: 400;
                            margin-bottom:0.25rem;
                        }
                        .address-detail{
                            line-height: 1.2rem;
                        }
                    }
                    .ig{
                        width: 2.4rem;
                        height: 2rem;
                        background: #262626;
                        color: #fff;
                        border-radius: 5px;
                        margin-left: 0.25rem;
                        position: absolute;
                        right: 0.5rem;
                        .material-icons{
                            font-size: 1rem !important;
                            display: flex;
                            justify-content: center;
                            margin-top: 0.45rem;
                        }
                    }
                }
                .p-group{
                    .pi{
                        font-size: 0.95rem;
                        padding: 0.15rem 0.5rem;
                        border-radius: 3px;
                        color: #262626;
                        width:14rem;
                        display:flex;
                        &.active{
                            color:#fff;
                            background-color: #262626;
                        }
                       .t{
                           margin-left:0.5rem;
                           color:#262626;
                       }
                    }
                }
                .inv{
                    display:flex;
                    input{
                        border: solid 1px #262626;
                        padding: 0.15rem 0.5rem;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        width: 12rem;
                        color: #262626;
                    }
                    .bn{
                        background: #262626;
                        color: #fff;
                        width: 2rem;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        .material-icons{
                            font-size: 1rem !important;
                            margin: 0.5rem;
                        }
                    }
                }
                .value{

                }
            }
        }

        .total{
            margin-top: 2rem;
            display: flex;
            justify-content: flex-end;
            margin-right: 1rem;
            margin-bottom: -0.5rem;
            .l{
                margin-right:0.5rem;
            }
            .r{
                color: #ef5350;
                font-weight: 400;
            }
        }
        .g{
            display: flex;
            justify-content: flex-end;
            .ins{
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;
                margin-bottom: 1rem;
                width: 7rem;
                background: #262626;
                color: #fff;
                margin-right: 0.85rem;
                padding: 0.25rem;
                border-radius: 5px;
            }
        }

        .pro-item{
            display:flex;
            margin-bottom:0.75rem;
            justify-content: space-between;
            .pro-preview{
                img{
                    object-fit: cover;
                    width: 3.5rem;
                    margin-top: 0.5rem;
                    margin-right: 0.5rem;
                }
            }
            .pro-name{
                margin-left: 0.25rem;
                margin-right: 0.25rem;
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
            .price-count{
                display: flex;
                flex-direction: column;
                justify-content: center;
                .pro-count{
                    display: flex;
                    border:solid 1px #262626;
                    height:2rem;
                    margin-top:0.5rem;
                    margin-right:0.5rem;
                    .up{
                        background-color: #262626;
                        color: #fff;
                        width: 2rem;
                        text-align: center;
                        font-size: 1.5rem;
                        padding-top: 0.15rem;
                        padding-left: 0.1rem;
                    }
                    .num{
                        flex-grow: 1;
                        width: 2rem;
                        font-size: 0.75rem;
                        padding-top: 0.25rem;
                        text-align: center;
                    }
                    .down{
                        background-color: #262626;
                        color: #fff;
                        width: 2rem;
                        text-align: center;
                        font-size: 1.5rem;
                        padding-top: 0.15rem;
                        padding-left: 0.1rem;
                    }
                }

                .pro-price{
                    text-align: center;
                    margin-top: 0.25rem;
                    font-size: 0.85rem;
                    font-weight: 400;
                    color: #dc3545;
                }
            }
            
        }
    }
}