.discover-group{
    .row{
        margin-right: unset;
        margin-left: unset;
        .col-md-6{
            padding-right: unset;
            padding-left: unset;
        }
        .col-6{
            padding-right: unset;
            padding-left: unset;
        }
    }
    .list-product{
        // margin-top:2.25rem;
        .col-md-4{
            z-index: 1;
        }
        .item{
            margin-top: 2.5rem;
            margin:0.15rem;
            border:solid 1px #eee;
            background-color: #fff;
            display:flex;
            flex-direction: column;
            justify-content: space-between;

            .preview{
                object-fit: contain;
                width: 60%;
                // height:18rem;
                min-height: 12rem;
                margin: 0 auto;
                display: flex;

                .p-select{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1rem;
                    .pi{
                        background: #ccc;
                        width: 1rem;
                        height: 1rem;
                        margin-top: 0.75rem;
                        border-radius: 100%;
                        margin-right: 0.5rem;
                        cursor: pointer;
                        &:hover{
                            background:#777;
                        }
                    }
                }
            }

            .item-name{
                text-align: center;
                font-size: 1rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0 0.5rem;
                height:2rem;
            }
            .price{
                margin-bottom:0.5rem;
                font-size: 0.5rem;
                line-height: 0.75rem;
                text-align: center;
                .old{
                    color: #777;
                    text-decoration: line-through;
                    text-decoration-color: #ccc;
                    font-size: 0.95rem;
                }
                .new{
                    font-size: 0.95rem;
                    font-weight: 400;
                    margin-top:0.35rem;
                    margin-bottom:0.5rem;
                }
            }
            .action-group{
                display: flex;
                justify-content: space-between;
                margin-right: 0.5rem;
                margin-left: 0.5rem;
                margin-bottom: 0.25rem;
                svg{
                    cursor: pointer;
                }
            }
            .action-group.mobile{
                display:none;
            }
            .action-group.desk{
                display:flex;
            }
        }
    }
    .bar{
        margin-bottom: 0.15rem;
        z-index: 2;
        position: fixed;
        width: 100%;
        background: #fafafa;
        margin-top: -1rem;
        padding: 0.5rem 0 0.25rem;

        .col-md-6{
            display:flex;
            justify-content: space-between;

            &.mobile{
                display:none;
            }

            &.d{
                display:flex;
            }

            .left{
                display:flex;
                div.type{
                    width:unset;
                    display: flex;
                    margin-left: 0.75rem;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    margin-right: 0.75rem;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
                div.select{
                    width:unset;
                    display: flex;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    margin-right: 0.75rem;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
                div.sort{
                    display: flex;
                    margin-right: 0.75rem;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
            }

            .right{
                display:flex;
                margin-right:0.25rem;
                margin-top:0.25rem;
            }
        }
    }
}

@media (max-width:991px){
    .preview{
        width: 100% !important;
        height: auto !important;
    }
}

@media (min-width:441px){
    .item-name{
        font-size:1rem !important;
    }
    .preview{
        width: 100% !important;
        height: auto !important;
    }
    .price{
        .old{
            color: #777;
            text-decoration: line-through;
            text-decoration-color: #ccc;
            font-size: 1rem !important;
            margin-bottom:0.5rem;
        }
        .new{
            font-weight: 400;
            font-size: 1rem !important;
        }
    }
}

#clothes_type .modal-content{
    height: 6.75rem;
}

#clothes_sort .modal-content{
    height: 10rem;
}

@media (max-width: 991px) {
    .discover-group{
        position:absolute;
        transition: top 0.3s;
        .list-product{
            margin-top:2.5rem;

            .item{
                margin:0.15rem;
                border:solid 1px #eee;
                background-color: #fff;

                .pdetail{
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 9999;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .zheader{
                        display: flex;
                        padding-left: 0.5rem;
                        padding-top: 0.5rem;
                        position: fixed;
                        width: 100%;
                        background: #fff;
                        .ztitle{
                            margin-top: 0.25rem;
                            flex-grow: 1;
                            text-align: center;
                            margin-left: -2rem;
                            font-weight: 400;
                        }
                    }
                    .zbody{
                        overflow-y: scroll;
                        padding-top: 3rem;
                        padding-bottom: 3rem;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .preview{
                            display:flex;
                            flex-direction: column;
                            justify-content: center;
                            width:100%;
                            height:auto !important;
                            img{
                                width: 70%;
                                object-fit: contain;
                                margin: 0 auto;
                            }
                        }
                        .pname{
                            font-weight: 400;
                            margin-left: 1rem;
                            margin-right: 1rem;
                            margin-top: 0.5rem;
                            margin-bottom: 0.75rem;
                            text-align: center;
                            line-height: 1.45rem;
                            .cntype{
                                font-size: 0.65rem;
                                text-transform: uppercase;
                                font-weight: 400;
                                color: #777;
                            }
                        }
                        .pdescription{
                            margin-left: 1rem;
                            margin-right: 1rem;
                            margin-top: 0.75rem;
                            margin-bottom:0.5rem;
                            text-align: center;
                            line-height: 1.45rem;
                        }
                        .price{
                            margin-left:1rem;
                            margin-right:1rem;
                            text-align: center;
                            .old_price{
                                font-size: 0.95rem;
                                color: #777;
                                text-decoration: line-through;
                            }
                            .new_price{
                                margin-top: 0.5rem;
                                font-size: 1rem;
                                color: #dc3545;
                                font-weight: 400;
                            }
                        }
                        .config{
                            margin: 1rem;
                            text-align: center;
                            .size{
                                display:flex;
                                justify-content: center;
                                .lb{
                                    margin-top: 0.25rem;
                                    margin-right: 0.5rem;
                                }
                                .stypegroup{
                                    display: flex;
                                    width: 10rem;
                                    overflow-x: scroll;
                                }
                                .stype{
                                    color:#262626;
                                    border: solid 1px #262626;
                                    padding: 0.25rem 0.75rem;
                                    margin-right: 0.5rem;
                                    height: 2rem;

                                    &.active{
                                        background: #262626;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .msg-group{
                            position: fixed;
                            bottom: 3rem;
                            width: 100%;
                            text-align: center;
                            .msgt{
                                background: #ef5350;
                                width: 8rem;
                                margin: 0 auto;
                                text-align: center;
                                border-radius: 26px;
                                color: #fff;
                                font-weight: 500;
                                font-size: 0.7rem;
                            }
                        }
                        .fixed-bar{
                            position: fixed;
                            bottom: 0;
                            background: #262626;
                            width: 100%;
                            height: 2.5rem;
                            border-top: solid 1px #262626;
                            color: #fff;
                            .g{
                                display:flex;
                                justify-content: center;

                                .ins.zdisabled{
                                    display: flex;
                                    background: #262626;
                                    margin-top: -0.05rem;
                                    padding-bottom: 1rem;
                                    padding-top: 0.55rem;
                                    width: 50%;
                                    justify-content: center;
                                    &.f{
                                        border-right: solid 3px #fff;
                                    }
                                    .l{
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        font-size: 0.75rem;
                                        margin-left:0.5rem;
                                    }
                                }
                                .ins:not(.zdisabled){
                                    display: flex;
                                    background: #262626;
                                    margin-top: -0.05rem;
                                    padding-bottom: 1rem;
                                    padding-top: 0.55rem;
                                    width: 50%;
                                    justify-content: center;

                                    &.f{
                                        border-right: solid 3px #fff;
                                    }
                                    .l{
                                        font-weight: 400;
                                        text-transform: uppercase;
                                        font-size: 0.75rem;
                                        margin-left:0.5rem;
                
                                        &:active{
                                            transition: font-size 0.5s;
                                            font-size: 0.95rem !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
        .bar{
            margin-bottom:0.15rem;
            padding-top:0.95rem;
            background: #fff;
            div.select{
                width:10rem;
                margin-left:0.15rem;
            }
            .col-md-6{
                &.mobile{
                    display:flex;
                    justify-content: center;

                    &.iphone{
                        background: #fafafa;
                        margin-bottom: -0.25rem;
                        margin-top:-0.5rem;
                        justify-content: space-around;
                        padding-right: 1rem;
                        padding-left: 0.25rem;
                        select{
                            background-color: unset;
                            margin-top:0.75rem;
                            text-align: center;
                            // text-align-last: center;
                        }
                        .material-icons{
                            margin-top:0.85rem;
                            font-size: 1.25rem !important;
                            margin-right: 0.25rem;
                        }
                        .spr{
                            border-left: solid 1px #ccc;
                            height:1rem;
                            margin-top:1rem;
                            margin-right: 0.75rem;
                        }
                    }
                }
    
                &.d{
                    display:none;
                }
                .zdisabled{
                    border-color: #ccc !important;
                }
                div.type{
                    width:unset;
                    display: flex;
                    margin-left: 0.75rem;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    margin-right: 0.75rem;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
                div.select{
                    width:unset;
                    display: flex;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    margin-right: 0.75rem;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
                div.sort{
                    display: flex;
                    margin-right: 0.75rem;
                    font-size: 0.95rem !important;
                    border: solid 1px #262626;
                    color:#262626;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: #fff;
                    .material-icons{
                        font-size: 1rem !important;
                        margin-top: 0.28rem;
                        margin-right: 0.25rem;
                    }
                }
            }
        }
    }

    .action-group.mobile{
        display: flex !important;
    }
    .action-group.desk{
        display: none !important;
    }
  }
