

.znotification-group{
    padding-top: 4rem;
    margin-bottom:3rem;

    .col-md-6{
        margin: 0 auto;
        background-color: #fff;
        border: solid 1px #eee;
        border-radius: 5px;
        padding-bottom: 1rem;
        padding:1rem;

        .t{
            margin-top: 1rem;
            margin-bottom:1rem;
            font-size: 1.25rem;
        }
    }

    @media (max-width: 991px) {
        .col-md-6{
            background-color: #fff;
            position: absolute;
            top: 0;
            padding-top: 5.75rem;
            border:none;
        }
    }

    img.profile-avatar{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: solid 1px #ccc;
        padding: 0.25rem;
        object-fit: cover;
        cursor: pointer;
    }

    .zedit-item{
        margin-top:0rem !important;
        margin-bottom:0.25rem !important;
        margin-right:2rem;

        label{
            display: flex;
            margin-bottom: 1rem;
        }
    }

    span.zactive{
        color: #777;
        line-height: 1.2rem;
    }
    
    textarea.zdes{
        font-size: 1rem;
        height: 10rem !important;
        border-left: solid 1px #eee;
        border-radius: 0.15rem;
        border-right: solid 1px #eee;
        border-top: solid 1px #eee;
        padding:0.15rem;
    }
    
    .form-control:focus{
        border-color:#eee !important;
    }
    
    .zchange-pass{
        font-size:0.75rem;
        color:#ef5350;
        font-weight: 500;
        cursor: pointer;
    }
    
    .zedit-item{
        .btn-cancel{
            margin-right:1rem;
        }
    }
}