.setting-group{
    padding-top: 5rem;
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;

    ul li{
        display:flex;
        margin-top: 0.5rem;
        border-top: solid 1px #eee;
        padding-left: 0.75rem;
        padding-top: 0.5rem;

        .t{
            margin-top: 0.25rem;
            margin-left: 0.5rem;
        }

        a{
            display: flex;
        }
    }
}