div.container-timeline {
    margin-top:0.5rem;
    display: flex;
    flex: auto;
    flex-direction: column;
    max-height: 100%;

    &.fromTrendStatus{
        margin-top:6.25rem;
    }
  
    .btn-addnew{
      position: fixed;
      margin-bottom: 1rem;
      bottom: 2rem;
      right: 18rem;
      float: right;
  
      i.material-icons{
        font-size: 3rem !important;
        color: #f44336;
        cursor: pointer;
        opacity: 0.8;
      }
  
      i.material-icons:hover{
        opacity: 1;
      }
  
    }
  
    @media only screen and (max-width: 1004px) {
      .btn-addnew{
        // position: sticky;
        bottom: 2rem;
        right: 3rem;
        float: right;
      }
    }
  
  }

  .set-clother-group{
    .q-t-owner{
        margin-left: 1rem;
        font-size: 0.85rem;
        .ln1{
            display:flex;
            border-left: solid 3px #ccc;
            padding-left:1rem;
            .ln1_1{
                display: flex;
                .avt_1{
                    margin-left: 0.5rem;
                    margin-top: -0.35rem;
                }
                .n1_1{
                    margin-left:0.25rem;
                    font-weight: 400;
                }
            }
        }
        .ln2{
            font-size: 0.75rem;
            color: #777;
            border-left: solid 3px #ccc;
            padding-left:1rem;
            margin-top: -0.25rem;
        }
        .ln3{
            font-size: 0.95rem;
            border-left: solid 3px #ccc;
            padding-left: 1rem;
            line-height: 1rem;
            padding-top: 0.75rem;
            padding-bottom: 0.5rem;
        }
    }

    @media (max-width:991px){
        .q-c-group{
            margin-left: -2rem !important;
            margin-right: -2rem !important;
        }
    }

    .q-c-group{
            cursor: pointer;
            margin-bottom: 1rem;
            margin-top: 1rem;
            display:flex;
            justify-content: center;
            margin-left:-1rem;
            margin-right: -1rem;
            .ql{
                width: 50%;
                overflow: hidden;
                img{
                    width:100%;
                }
            }

            .qr{
                width: 50%;
                overflow: hidden;
                img{
                    width:100%;
                }
            }

            @media (max-width:991px){
                .imgg{
                    transform: scale(0.75);
                    margin-left: -2rem !important;
                    margin-right: -1.5rem;
                }
            }

            .imgg{
                display:flex;
                justify-content: center;
                flex-grow: 1;
                margin-left:1rem;

                .left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .shirt .mix_view img{
                    width: 7rem !important;
                    margin-top: -0.5rem !important;
                    margin-left: -0.75rem !important;
                }
                .trouser .mix_view img{
                    margin-top: 0.5rem !important;
                }
                .mix_view{
                    width:5rem;
                    height:5.15rem;
                    &.hat{
                        height:3rem;
                    }
                    img{
                        width:5rem;
                        height:unset;
                        position:absolute;
                    }
                    &.dress{
                        img{
                            width: 7rem !important;
                            height: 10rem;
                            position: absolute;
                            margin-left: -1.2rem !important;
                        }
                    }
                    &.trousers{
                        img{
                            margin-top:-0.5rem;
                        }
                    }
                }
            }

        }
  }

  @media (min-width:992px){
    div.container-timeline {
        margin-top:4.15rem;
    }
    div.container-timeline.fromTrendStatus{
        margin-top:3.75rem;
    }
}