
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  color: #50585f;
  text-decoration: none;
  &:hover {
    color: #383e44;
  }
}


div.header {
  height: auto;
  text-align: center;
  background: slategrey;
  color: ghostwhite;
  padding: 2.3rem 1rem 2.3rem 1rem;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 0rem;
    height: 5.1rem;
    display: block;
    width: 100%;
    z-index: 300;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
  h1 {
    margin: {
      top: .8rem;
      bottom: .5rem;
    }
    font: {
      weight: 200;
      size: 1.6em;
    }
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    @media (min-width: 62em) {
      font-size: 1.9em;
      letter-spacing: 0.2rem;
    }
  }
  h2 {
    font: {
      size: 1.1em;
      weight: 400;
    }
    color: #cfd7de;
    max-width: 30rem;
    margin: auto;
  }
}

div.item-timeline {
  display: flex;
  flex: auto;
  // padding: 0rem 1rem 0rem 1rem;
}

#timeline {
  position: relative;
  display: table; //*For Firefox
  height: 100%;
  margin: {
    left: auto;
    right: auto;
  }
  margin-bottom: 6rem;

}

svg {
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.timeline-group{
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 0.55rem;
  border: solid 1px #eee;
  font-size: 0.95rem;

  &.last{
    margin-bottom:3rem;
  }
}
.timeline-content{

    .avatar-group{

      display: flex;
      flex-direction: row;
  
      img.avatar{
        cursor: pointer;
        border: solid 1px #eee;
      }
  
      .name-detail{
        display:flex;
        .zmore{
          margin-top: 0.3rem;
          margin-left: 0.35rem;
          font-size: 0.85rem;
        }
      }

      .name-art-group{
        font-size: 0.75rem;
        color: #777;
        margin-left: 0.5rem;
        .spr{
          padding-left: 0.25rem;
          padding-right:0.25rem;
        }
      }

      .name-group{
        margin-left:1rem;
        .zname{
          font-weight: 600;
          margin-top: 0.25rem;
        }
        .zsince{
          font-size: 0.75rem;
          margin-top: -0.35rem;
        }
      }

    }

    .content-group{
      margin-top: 0.5rem;
      max-width: 53rem;

      a.viewmore{
        color:#ef5350;
        font-size: 0.85rem;
        margin-left: 0.25rem;
        padding: 1rem 0;
      }

      .question-content-group{
        border-left: solid 5px #ccc;
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.75rem;
        .owner-group{
          margin-top:0.5rem;
          display: flex;
          .i-ava{
            cursor:pointer;
          }
          .name{
            margin-left: 0.25rem;
            margin-top:-0.25rem;
            color: #777;
            font-size: 0.85rem;
            font-weight: 400;
          }
          .dt{
            margin-left: 0.25rem;
            margin-top: -0.65rem;
            color: #777;
            font-size: 0.65rem;
            font-weight: 400;
          }
        }
      }
    }

    .all-attached-group{
      .file-attach-group{
        display:flex;
        margin-top:1rem;
        margin-left: -1rem;
        margin-right: -1rem;
  
        img{
          object-fit: contain;
          width: 1rem;
          flex-grow: 1;
          max-height: 50rem;
        }
  
        @media (max-width: 991px) {
          img{
            object-fit: cover;
            width: 1rem;
            flex-grow: 1;
            max-height: 60vh;
          }
        }
      }

    }

    .item-bottom-group{
      margin-top:0.5rem;
      display: flex;
      flex-direction: row;
      color: #777;

      .first-group{
        .material-icons{
          font-size: 1.3rem !important;
          margin-top: 0.25rem;
        }
        .comment{
          font-size: 1.2rem !important;
          padding: 0.5rem;
          margin: -0.21rem -0.3rem 0 -0.95rem;
        }
        .share{
          font-size: 1.6rem !important;
          margin-top: -0.03rem;
          .zdisabled{
            color:#777;
          }
        }
      }
      .like-group{
        color: #777;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        transition: transform .2s;
      
        .material-icons{
          margin-left:-0.5rem;
        }

        .nlike{
          margin-top:0.2rem;
          font-size: 0.75rem;
          font-weight: 500;
          width:3rem;
        }
      }
      .like-group:active{
        transform: scale(1.1);
      }

      .tool-right-group{
        position:absolute;
        right:0.25rem;
        margin-top: 0.15rem;
        top:0;

        .material-icons:hover{
          cursor: pointer;
          color:#262626;
          transition: transform .2s;
        }
        .material-icons:active{
          transform: scale(1.5);
        }
      }

      .favorite-group{
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: #777;

        .material-icons{
          margin-left:-0.5rem;
        }

        .material-icons.active{
          color:#f44336;
        }

        // .material-icons:hover{
        //   color:#777;
        // }

        .favorite{
          transition: transform .2s;
          padding: 0.5rem;
          margin: -0.25rem -0.32rem 0 -0.95rem
        }
        .favorite:active{
          transform: scale(1.5);
        }

        .nlike{
          margin-top:0.2rem;
          font-size: 0.75rem;
          font-weight: 500;
          width:3rem;
        }
      }

    }

    .comment-group{
      border-top: solid 1px #eee;
      margin-left: -1rem;
      margin-right: -1rem;
      margin-top: 1rem;
      right: 0;
      padding-top:1rem;

      .avatar-group{
        width:100%;
      }
      .zavatar{
        margin-left: 1rem;
        margin-right: 0.75rem;
      }

      .name-group{
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .reply-group{
          margin-top:-0.5rem;
          span{
            font-size: 0.55rem;
            border: solid 1px #ccc;
            padding: 0.15rem 0.5rem;
            border-radius: 0.35rem;
            cursor: pointer;
          }
        }

        .textarea-group{
          display:flex;
          textarea{
            margin-right: 0.5rem;
            flex-grow: 1;
          }
          .emoji-group{
            .material-icons{
              width: 3rem;
              margin-top: 0.5rem;
              font-size: 1.5rem !important;
              color: #777;
              cursor: pointer;
              &:hover{
                color:#262626;
              }
            }
            .emoji-picker{
              position: absolute;
              right: 0rem;
              z-index: 99;
            }
          }
        }

        
        
      }
    }

    .m-cmt{
      margin-top: 0.75rem;
      font-size: 0.85rem;
      cursor: pointer;
    }

    .m-cmt:hover{
      color:#f44336
    }

    .cm-msg{
      margin-top: 0.75rem;
      font-size: 0.75rem;
      color: #777;
      border-bottom: solid 1px #eee;
      border-top: solid 1px #eee;
      margin-left: -2rem;
      margin-right: -2rem;
      padding-left: 2rem;
      padding-right:2rem;
      padding-bottom: 0.25rem;
      padding-top: 0.25rem;
      line-height: 1rem;
    }

    .list-comment-group{
      margin-right: -2rem;
      margin-left: 0.5rem;
      right: 0;
      padding-top:1rem;

      .avatar-group{
        width:100%;
        margin-bottom: 1.2rem;
      }

      .name-group{
        flex-grow: 1;
        display: flex;

        .n{
          font-weight: 400;
        }

        .d{
          font-size: 0.75rem;
          color: #777;
          margin-top: -0.25rem;
        }

        .content{
          padding-right: 1rem;
          line-height: 1.2rem;
          margin-top: 0.15rem;
          font-size:0.95rem;
        }

        .rename{
          color: #f44336;
          margin-right: 0.25rem;
        }
        .c-bt-gr{
          display: flex;
          margin-left: 0.25rem;
          margin-top: 0.25rem;

          .favorite-group{
            display: flex;
            flex-direction: row;
            cursor: pointer;
            color: #777;
    
            .material-icons{
              margin-left:-0.5rem;
            }
    
            .material-icons.active{
              color:#f44336;
            }
    
            // .material-icons:hover{
            //   color:#f44336;
            // }
    
            .favorite{
              // margin-top:0.35rem;
              transition: transform .2s;
              font-size: 1.1rem !important;
              padding: 0.5rem;
              margin: -0.11rem -0.2rem 0 -0.95rem;
            }

            .favorite:active{
              transform: scale(1.5);
            }

            .reply{
              margin-top: 0.15rem;
              transition: transform .2s;
              font-size: 1.4rem !important;
            }

            .reply:active{
              transform: scale(1.5);
            }
    
            .more{
              margin-left:1rem;
              margin-top: 0.35rem;
              transition: transform .2s;
              font-size: 1.2rem !important;
            }

            .more:active{
              transform: scale(1.5);
            }

            .nlike{
              margin-top:0.2rem;
              font-size: 0.75rem;
              font-weight: 500;
              width:3rem;
            }
          }
        }
      }
    }
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  &.cover{
    max-width: unset;
  }
  .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
      input {
          display: none;
          + label {
              display: inline-block;
              width: 34px;
              height: 34px;
              margin-bottom: 0;
              border-radius: 100%;
              background: #FFFFFF;
              border: 1px solid transparent;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              transition: all .2s ease-in-out;
              &:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
              }
              &:after {
                  content: "\f040";
                  font-family: 'FontAwesome';
                  color: #757575;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  margin: auto;
              }
          }
      }
  }
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

      &.cover{
        width: 100%;
        border-radius: unset;
      }
      > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          &.cover{
            border-radius: unset;
          }
      }
  }
}

.ztab-group{
  width: 100%;

  .tab-content{
    background-color: #fff;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

    border: 0;
    border-radius: 3px;
    padding: 0 15px;
    border-bottom: solid 3px #eee;

    li{
      margin-bottom:-0.2rem;
      border-bottom: solid 3px #eee;
      .nav-link.active{
        background-color: #fff !important;
        box-shadow: none !important;
        color: #f44336 !important;
      }
      .nav-link{
        i{
          padding:0;
        }
      }
    };

    li.nav-item:hover{
      border-bottom: solid 3px #f44336;
    }
    li.nav-item.active{
      border-bottom: solid 3px #f44336;
    }
  }

  @media (max-width: 540px){
    a.nav-link{
        // font-size:0.25rem !important;
        padding:0px !important;
  
        .material-icons{
          font-size:1.5rem !important;
        }
    }
  }
}

.arcodion-group{
  .card{

    box-shadow: none;
    border:solid 1px #ccc;
    border-radius: 3px;
    margin: 0 0 0.5rem 0;
    color:#444;
    .form-check{
      margin-top: 0.25rem;
    }
  }
  .card.active{
    border: solid 1px #f44336;
  }
  .card .card-header:not([class*="header-"]) {
    box-shadow: none !important;
  }
  .card .card-header{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-radius: 3px;
    // padding: 1rem 15px;
    margin: 0;
    border: none;
    background: #fff;
    // background: linear-gradient(60deg, #eee, #bdbdbd);

    &.last{
      margin-bottom:0.1rem;
    }

    .h{
      cursor: pointer;
      display: flex;
      flex-grow: 1;
      margin-right:0.5rem;

      .type-group{
        margin-right: 0.5rem;
        background-color: #eee;
        padding: 5px;
        height: 1.3rem;
        border-radius: 5px;

        .material-icons{
          font-size: 1.25rem !important;
          cursor: normal;
        }
      }
    }
  }

  .pretty.p-bigger .icon, .pretty.p-bigger .img, .pretty.p-bigger .svg, .pretty.p-bigger label:after, .pretty.p-bigger label:before {
    font-size: 1.5em !important;
    top: 0 !important;
  }

}

.zfilter-stories-label{
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  color: #888;
  margin-bottom: 1rem;

  .f{
    margin-top: 0.55rem;
    margin-right: 1rem;
    font-size: 0.85rem;
  }
}

.share-group{
  margin-top: -1.75rem;

  .zcp{
    font-size: 0.75rem;
    font-weight: 700;
    color: #f44336;
  }
  .t{
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
    color: #777;
    font-weight: 400;
  }
  .txt-group{
    display: flex;
    input{
      border: solid 1px #ccc;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
      flex-grow: 1;
    }
    .material-icons{
      margin-left: 0.5rem;
      margin-top: 0.25rem;
      font-size: 1.5rem !important;
      cursor: pointer;
      color: #777;
    }

    .material-icons:hover{
      color: #f44336;
    }
  }
}

@media (min-width: 992px) {
  .znav-mobile{
    display: none !important;;
  }
}

@media (max-width:991px){
  
  .mb-searchbox{
    .ig{
      display:flex;
      justify-content: space-between;
      margin-top: 0.25rem;
      
      svg.full{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }
  .mb-searchbox .material-icons{
    font-size: 1.95rem !important;
  }
  .znav-mobile{
    .mi .material-icons{
      font-size: 1.95rem !important;
    }
  }

  div.container-timeline{
    margin-top: 6.25rem;
  }
}

.zcon-group{
  padding-top: 4rem;
  margin: 0 1rem;
  display: flex;
  justify-content: center;

  .item{
    padding-top: 1rem;
    padding-bottom:1rem;
    background-color:#fff;
    border: solid 1px #eee;
    border-radius: 5px;
    margin-bottom:1rem;
  }
}

@media (min-width: 992px) {
  .zcon-group{
    padding-top: 5.75rem;
  }
}

.user-item-notify{
  padding: 0.75rem !important;
}
.user-item-group{
  margin:0.25rem;
  background-color: #fff;
  display: flex;
  padding: 0.5rem 0;
  padding-left: 1rem;
  padding-right: 1rem;

  .i-av-g{
    margin-right:0.75rem;
    .i-av{
      cursor: pointer;
    }
  }

  .i-txt-g{
    flex-grow: 1;
    .i-txt-1{
      margin-top: 0.25rem;
    }
    .i-txt-2{
      font-size: 0.75rem;
      margin-top: -0.05rem;
      color:#777;
    }
  }
}

.answer-item-group{
  display: flex;
  padding: 0.5rem 0;

  .i-av-g{
    margin-right:0.75rem;
    .i-av{
      cursor: pointer;
      padding: 0.15rem;
    }
  }

  .i-txt-g{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .material-icons{
    margin-top: 0.9rem;
    margin-left: 0.55rem;
    font-size: 1.5rem !important;
    color: #777;
  }
  .material-icons:hover{
    color:#f44336;
  }

}

.zprogress-bar{
  div{
    height: 1.25rem;
  }
  .blackbg{
    background: black;
    width: var(--percent);
    z-index: 2;
    border-radius: 5px;
    position: relative;
  }
  .whitebg{
    margin-top: -1.4rem;
    background: white;
    width: 100%;
    z-index: 1;
    position: relative;
  }
  .makered{
    margin-top: -1.1rem;
    border-radius: 5px;
    background-color: #f44336;
    mix-blend-mode: screen;
    width: var(--percent);
    z-index: 4;
    position: relative;
  }
  .ztext{
    margin-top: -1.32rem;
    z-index: 3;
    text-align: center;
    mix-blend-mode: difference;
    color: white;
    font-size: 0.85rem;
    font-weight: 500;
    border: solid 1px #004d4d;
    border-radius: 5px;
    height: 1.2rem;
    position: relative;
    .t{
      margin-top:-0.1rem;
    }
  }
}

.cover-all{
  position: fixed;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  height: 100%;
  top: 0rem;
  left:0;
  width: 100%;
  opacity: 0.9;
  color: #fff;
  text-align: center;

  .t-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    button{
      margin-top:0.75rem;
    }
  }
}

@media (max-width: 991px) {

  .time-line-item-loader{
      margin-left:1rem;
  }

  .cover-all {
    display:none
  }

  div.item-timeline{
    padding: 0;
    // margin-top: 2.25rem;

    .timeline-content{
      .item-bottom-group{
        margin-left: 0.75rem;
      }
    }
  }

  #timeline.col-md-6{

    .timeline-group.row{
      border-radius: 0;
      border:0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }
  .item-timeline.hasPostPanel{
    #timeline.col-md-6{
      // margin-top: 11.75rem;
    }
    &.fromHomePage{
      #timeline.col-md-6{
        margin-top:13.85rem;
      }
      .col-md-6.trend-status{
        margin-top: 2.35rem !important
      }
    }
  }
}

.progressbar-group{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.togglebutton{
  label{
    display: flex;
  }
}

span.zactive{
  color: #777;
}

.zcustom-modal{
    .modal-body{
      padding-left: unset;
      padding-right: unset;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .modal-item-group{
      .item{
        text-align: center;
        margin-bottom: 0.5rem;
        padding: 0.15rem 0 0.85rem 0rem;
        border-bottom: solid 1px #eee;
        font-size: 0.95rem;
        font-weight: 400;
        color:#777;
        cursor:pointer;

        &.selected{
          color:#262626;
        }

        &:active{
          font-size: 1rem;
        }
        &:hover{
          font-size: 1rem;
        }

        &.last{
          border-bottom: unset;
        }
      }
    }
    
}


#share_info_modal_from_timeline{
  .modal.shareModal {
      .modal-body{
      padding-right: unset !important;
      padding-left: unset !important;
      padding: unset !important;
    }
    .zmain.full{
      padding-top: unset;
    }
  }
  .new-status-title{
      border-bottom: solid 1px #eee;
      padding-bottom: 0.5rem;
      display:flex;
      .material-icons{
          color: #777;
          margin-left: 0.5rem;
          margin-top: 0.15rem;
          z-index: 9;
      }
      .ti{
          flex-grow: 1;
          margin-top: 0.2rem;
          font-weight: 400;
          margin-left: 0.25rem;
      }
  }
}

#share_info_modal_from_timeline_set{
  .modal.shareModal {
      .modal-body{
      padding-right: unset !important;
      padding-left: unset !important;
      padding: unset !important;
    }
    .zmain.full{
      padding-top: unset;
    }
  }
  .new-status-title{
      border-bottom: solid 1px #eee;
      padding-bottom: 0.5rem;
      display:flex;
      .material-icons{
          color: #777;
          margin-left: 0.5rem;
          margin-top: 0.15rem;
          z-index: 9;
      }
      .ti{
          flex-grow: 1;
          margin-top: 0.2rem;
          font-weight: 400;
          margin-left: 0.25rem;
      }
  }
}


.welcompage-group{
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  width: 100%;
  .in{
    display: flex;
    flex-direction: column;
    justify-content:center;
    img{
      width:5rem;
      border-radius: 10px;
    }
  }
}

.inactive-group{
  text-align: center;
  padding-top: 1rem;
  .zcode-group{
    display:flex;
    justify-content: center;
    .zt{
      margin-top: 1.45rem;
      position: absolute;
      margin-left: -3.5rem;
    }
  }
  .zcode{
    border: solid 1px #262626;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    padding-left: 7rem;
  }
  .resend{
    font-size: 0.85rem;
    margin-top:0.25rem;
    cursor: pointer;
    color:#777;
    &:hover{
      color:#262626;
    }
  }
  .zti{
    font-weight: 400;
    text-transform: uppercase;
  }
}

.right-content{
  padding:0.5rem;

  &.mnu{
    background: #fff;
    border-radius: 5px;
    padding: 0.25rem;
    margin-left:1rem;
    ul{
      padding:0.5rem;
      li{
        cursor: pointer;
        display: flex;
        margin-bottom: 0.5rem;
        color:#777;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
        &:hover{
          color:#262626;
          svg{
            fill:#262626;
            path{
              fill:#262626;
            }
          }
        }
        &.active{
          background: #eee;
          color:#262626;
          margin-left: -0.75rem;
          margin-right: -0.75rem;
          padding-left: 0.75rem;
          padding-right: 0.5rem;
          svg{
            fill:#262626;
            path{
              fill:#262626;
            }
          }
        }
        .material-icons{
          font-size: 1.25rem !important;
          margin-top: 0.25rem;
        }
        div{
          margin-top: 0.25rem;
          margin-left: 0.5rem;
          font-weight: 400;
          font-size: 0.95rem;
          flex-grow: 1;
          display: flex;
          select{
            width: 100%;
            cursor: pointer;
            background-color:#fff;
          }
          .material-icons.sel{
            font-size: 0.75rem !important;
            margin-top:0.25rem;
          }
        }
        &.seperator{
          border-bottom: solid 1px #eee;
          margin-left: -0.75rem;
          margin-right: -0.75rem;
        }
      }
    }
  }

  img.ads{
    cursor: pointer;
    margin-left:0.5rem;
    margin-bottom: 1rem;
    width: 13rem;
    border-radius: 9px;
  }
}

.left-content{
  margin-right: 1.25rem;
  background: #fff;
  margin-left: 35%;
  margin-top: 0.25rem;
  height: 18rem;
  border-radius: 5px;
  padding: 0.25rem;

  &.zapii-info{
    margin-top:2rem;
    background-color:unset;
    text-align: center;
  }

  ul{
    padding:0.5rem;
    li{
      cursor: pointer;
      display: flex;
      margin-bottom: 0.5rem;
      color:#777;
      padding-top:0.5rem;
      padding-bottom:0.5rem;
      &:hover{
        color:#262626;
        svg{
          fill:#262626;
          path{
            fill:#262626;
          }
        }
      }
      &.active{
        background: #eee;
        color:#262626;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        padding-left: 0.75rem;
        padding-right: 0.5rem;
        svg{
          fill:#262626;
          path{
            fill:#262626;
          }
        }
      }
      .material-icons{
        font-size: 1.25rem !important;
        margin-top: 0.25rem;
      }
      div{
        margin-top: 0.25rem;
        margin-left: 0.5rem;
        font-weight: 400;
        font-size: 0.95rem;
        flex-grow: 1;
        display: flex;
        select{
          width: 100%;
          cursor: pointer;
          background-color:#fff;
        }
        .material-icons.sel{
          font-size: 0.75rem !important;
          margin-top:0.25rem;
        }
      }
      &.seperator{
        border-bottom: solid 1px #eee;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
      }
    }
  }
}