i.material-icons{
    font-size: 1.75rem !important;
}

a.nav-link{
    margin-top: 0.1rem;

    svg.full{
        display: none;
    }
    svg.outlined{
        display: block;
    }

    &.active{
        svg.full{
            display: block;
        }
        svg.outlined{
            display:none;
        }
    }
}

.zcenter{
    img.empty{
        width:15rem;
    }
    div.emptyt{
        text-align:center;
        margin-top:-1rem;
        font-weight: 400;
        color: #ccc;
    }
}

div.nav-link{
    margin-top: 0.1rem;

    svg.full{
        display: none;
    }
    svg.outlined{
        display: block;
    }

    &.active{
        svg.full{
            display: block;
        }
        svg.outlined{
            display:none;
        }
    }
}

.mi{
    margin-top: 0.1rem;

    svg.full{
        display: none;
    }
    svg.outlined{
        display: block;
    }

    .active{
        svg.full{
            display: block;
        }
        svg.outlined{
            display:none;
        }
    }
}

li.nav-item.show{
    svg.full{
        display: block;
    }
    svg.outlined{
        display:none;
    }
}

.nav-item .active{
    color:#f44336 !important;
}

.zlogo{
    img{
        width: 4rem;
        margin-top: 0.5rem;
    }
}

.nav-custom{
    display:'';
}

@media (max-width: 991px) {
    .top-header-mobile{
        position: absolute;
        transition: top 0.3s;
    }

    .nav-custom{
        display:none;
    }

    .zlogo{
        display:none;
    }
    .notification-num{
        position: absolute;
        left: auto;
        margin-left: 0.85rem;
        background-color: #f44336;
        padding: 0.1rem 0.2rem;
        color: #fff;
        line-height: 1;
        border-radius: 2px;
        font-size: 0.75rem;
        border:solid 0.05rem #fff;
      }

      .address-book-panel{
          z-index:101;
      }

      .inBag.address-book-panel .zheader{
          z-index: 102 !important;
      }

      .inBag.page2{
          z-index:100;

          .zbody{
              height:100%;
              
              .p2g2{
                    margin-bottom: 0.75rem;
                    display: flex;
                    justify-content: space-between;
                    text-transform: uppercase;
                    .lbl{
                        font-size: 0.75rem;
                        color:#262626;
                        font-weight: 400;
                    }
                    .order_id{
                        color: #ef5350;
                        font-weight: 400;
                        font-size: 0.95rem;
                    }
                }

              .p2g{
                  .lbl{
                    font-size: 0.75rem;
                    color:#262626;
                    font-weight: 400;
                }
                .order_id{
                    color: #ef5350
                }
                .address-g{
                    display:flex;
                    .no-data{
                        font-size: 0.95rem;
                        color:#ccc;
                    }
                    .sel{
                        flex-grow: 1;
                        font-weight: 400;
                        font-size: 0.95rem;
                        margin-right: 2rem;

                        .name-phone{
                            font-weight: 400;
                            margin-bottom:0.25rem;
                        }
                        .address-detail{
                            line-height: 1.2rem;
                        }
                    }
                    .ig{
                        width: 2.4rem;
                        height: 2rem;
                        background: #262626;
                        color: #fff;
                        border-radius: 5px;
                        margin-left: 0.25rem;
                        position: absolute;
                        right: 0.5rem;
                        .material-icons{
                            font-size: 1rem !important;
                            display: flex;
                            justify-content: center;
                            margin-top: 0.45rem;
                        }
                    }
                }
                .note-g{
                    height: 5rem;
                    padding: 0.5rem 0.5rem 0rem 0.5rem;
                    border: solid 1px #262626;
                    border-radius: 5px;
                    textarea{
                        height: 4rem !important;
                        width: 100%;
                    }
                }
                .p-group{
                    .pi{
                        font-size: 0.95rem;
                        padding: 0.15rem 0.5rem;
                        border-radius: 3px;
                        color: #262626;
                        width:14rem;
                        display:flex;
                        &.active{
                            color:#fff;
                            background-color: #262626;
                        }
                       .t{
                           margin-left:0.5rem;
                           color:#262626;
                       }
                    }
                }
                .inv{
                    display:flex;
                    input{
                        border: solid 1px #262626;
                        padding: 0.15rem 0.5rem;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        width: 12rem;
                        color: #262626;
                    }
                    .bn{
                        background: #262626;
                        color: #fff;
                        width: 2rem;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        .material-icons{
                            font-size: 1rem !important;
                            margin: 0.5rem;
                        }
                    }
                }
              }
              .checkout-address-group{
                margin-left: 0.75rem;
                margin-right: 0.75rem;
              }
          }
          
      }

      .inBag.pdetail{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .zheader{
            display: flex;
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            position: fixed;
            width: 100%;
            background: #fff;
            .ztitle{
                margin-top: 0.25rem;
                flex-grow: 1;
                text-align: center;
                margin-left: -2rem;
                font-weight: 400;
            }
        }
        .zbody{
            overflow-y: scroll;
            padding-top: 3rem;
            padding-bottom: 3rem;
            &::-webkit-scrollbar {
                display: none;
            }
            .pro-item{
                display:flex;
                margin-bottom:0.75rem;
                .pro-preview{
                    img{
                        object-fit: cover;
                        width: 2.5rem;
                        margin-top: 0.5rem;
                        margin-right: 0.5rem;
                        margin-left: 0.25rem;
                    }
                }
                .pro-name{
                    margin-left: 0.25rem;
                    margin-right: 0.25rem;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: center;
                }
                .price-count{
                    .pro-count{
                        display: flex;
                        border:solid 1px #262626;
                        height:2rem;
                        margin-top:0.5rem;
                        margin-right:0.5rem;
                        .up{
                            background-color: #262626;
                            color: #fff;
                            width: 2rem;
                            text-align: center;
                            font-size: 1.5rem;
                            padding-top: 0.15rem;
                            padding-left: 0.1rem;
                        }
                        .num{
                            flex-grow: 1;
                            width: 2rem;
                            font-size: 0.75rem;
                            padding-top: 0.25rem;
                            text-align: center;
                        }
                        .down{
                            background-color: #262626;
                            color: #fff;
                            width: 2rem;
                            text-align: center;
                            font-size: 1.5rem;
                            padding-top: 0.15rem;
                            padding-left: 0.1rem;
                        }
                    }

                    .pro-price{
                        text-align: center;
                        margin-top: 0.25rem;
                        font-size: 0.85rem;
                        font-weight: 400;
                        color: #dc3545;
                    }
                }
                
            }
            .fixed-bar{
                position: fixed;
                bottom: 0;
                background: #fff;
                width: 100%;
                height: 5rem;
                color: #fff;

                .total{
                    display:flex;
                    justify-content: space-between;
                    margin-left:0.5rem;
                    margin-right:0.5rem;
                    font-size: 1rem;
                    font-weight: 400;
                    margin-top: 0.35rem;
                    .l{
                        color:#262626;
                    }
                    .r{
                        color: #dc3545;
                    }
                    &.vouncher{
                        justify-content: flex-end;
                    }
                }
                .g{
                    display: flex;
                    justify-content: center;
                    height: 2.75rem;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background: #262626;
                    .ins{
                        display: flex;
                        background: #262626;
                        padding-bottom: 1rem;
                        padding-top: 0.55rem;
                        width: 50%;
                        justify-content: center;

                        &.f{
                            border-right: solid 3px #fff;
                        }
                        .l{
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 0.75rem;
                            margin-left:0.5rem;
    
                            &:active{
                                transition: font-size 0.5s;
                                font-size: 0.95rem !important;
                            }
                        }
                        .material-icons{
                            font-size: 1rem !important;
                            margin-top: 0.25rem;
                            margin-left: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}

.form-inline{
    .zsbox{
        overflow-y: scroll;
        .g{
            margin-top:0.75rem;
        }
        
    }
    .avatar-g:hover{
        background-color: #eee;
    }
    .avatar-g{
        display: flex;
        padding: 0.25rem 0.75rem 0.25rem 1rem;

        .zavatar{
            cursor: pointer;
        }

        .name-group{
            margin-left: 0.85rem;
            .t{
                font-weight: 600;
                margin-top:0.25rem;
            }
            .t2{
                margin-top: -0.35rem;
                font-size: 0.85rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 16rem;
            }
        }
    }
}

.list-user-search-rs{

    overflow-y: scroll;

    .avatar-g:hover{
        background-color: #eee;
    }
    .avatar-g{
        display: flex;
        padding: 0.25rem 0.75rem 0.25rem 1rem;

        .zavatar{
            cursor: pointer;
        }

        .name-group{
            margin-left: 0.85rem;
            .t{
                font-weight: 600;
                margin-top:0.25rem;
            }
            .t2{
                margin-top: -0.35rem;
                font-size: 0.85rem;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 12rem;
            }
        }
    }
}

.order-complete-panel{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    .gr{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        svg{
            margin:0 auto;
        }
        .it{
            text-align: center;
            margin-top:0.5rem;
            span{
                color:#ef5350
            }
        }
    }
}

.search-result-group{
    .st{
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 0.75rem;
        margin-bottom: 0.5rem;
        .stg{
            display:flex;
            font-size: 0.85rem;
            font-weight: 400;
            .stgi{
                font-size: 0.85rem;
                margin-right: 0.75rem;
                color: #262626;
                background: #eee;
                padding: 0.25rem 0.5rem;
                border-radius: 8px;
                cursor: pointer;
                &.active{
                    color: #fff;
                    background: #262626;
                }
            }
        }
    }
    .sc{
        img.zimg{
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
        }
    }
}