.product-detail-page-group{
    margin-bottom:1rem;
    color:#262626;
    .cmenu{
        display: flex;
        z-index: 9;
        justify-content: space-between;
        border-radius: 5px;
        background: #e7e7e7;
        color: #000;
        font-weight: 400;
        .left{
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
        }
        .right{
            display:flex;
            margin-right:-1rem;
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
        }
        .center{
            text-transform: uppercase;
            font-size: 0.95rem;
            font-weight: 400;
            margin-top: 0.25rem;
        }
    }
    .col-md-6.zbor{
        margin-top:0.5rem;
    }
    .gr1{
        display: flex;
        img.zpreview{
            object-fit: contain;
            width:100%;
            min-width: 19rem;
        }
        .preview-group{
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width:22rem;
            .p-select{
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                .pi{
                    background: #ccc;
                    width: 1rem;
                    height: 1rem;
                    margin-top: 0.75rem;
                    border-radius: 100%;
                    margin-right: 0.5rem;
                    cursor: pointer;
                    &:hover{
                        background:#777;
                    }
                }
            }
        }
        .in{
            margin-top: 1rem;
            margin-left: 1rem;
            .name{
                font-size: 1.15rem;
                font-weight: 400;
                line-height: 1.4rem;
                .cntype{
                    font-size: 0.65rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #777;
                }
            }
            .price{
                margin-top: 1rem;
                .old-price{
                    color: #777;
                    text-decoration: line-through;
                }
                .new-price{
                    color: #ef5350;
                    font-weight: 500;
                    font-size: 1.25rem;
                }
            }
            .description{
                color: #262626;
                margin-top: 1rem;
                line-height: 1.4rem;
            }
            .size-style{
                margin-top:1rem;
                display:flex;
                .lb{
                    margin-top: 0.25rem;
                    margin-right: 0.5rem;
                    font-size: 0.95rem;
                }
                .stypegroup{
                    display: grid;
                    grid-template-columns: 4.25rem 4.25rem 4.25rem 4.25rem;
                }
                .stype{
                    color:#262626;
                    border: solid 1px #262626;
                    padding: 0.25rem 0.75rem;
                    margin-right: 0.5rem;
                    height: 2rem;
                    margin-bottom: 0.5rem;
                    text-align: center;
                    padding-top: 0.5rem;

                    &.active{
                        background: #262626;
                        color: #fff;
                    }
                }
            }
            .order-group{
                margin-bottom:1rem;
                margin-top:1rem;
                .cbtn-gr{
                    display: flex;
                    // justify-content: space-around;
                    .zb{
                        display: flex;
                        background-color: #262626;
                        color: #fff;
                        padding: 0.5rem 0.75rem;
                        border-radius: 4px;
                        font-weight: 400;
                        margin-bottom: 0.5rem;
                        cursor: pointer;
                    }
                    .cfavorite{
                        margin-top:0.35rem;
                    }
                }
            }
        }
    }
}