.set-bookmark-group{
    &.zmain{
        padding-top: unset;

        .col-md-6.zbor{
            background-color: #fff;
            padding-left: unset;
            padding-right: unset;

            .ci{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                .ic{
                    width:4rem;
                    img{
                        width:4rem;
                    }
                }
                .cn{
                    flex-grow: 1;
                    margin-left: 0.5rem;
                    margin-right:0.5rem;
                    display:flex;
                    flex-direction: column;
                    .na{
                        font-weight: 300;
                    }
                    .pr{
                        color:#ef5350;
                    }
                }
                .material-icons{
                    margin-right:1rem;
                }
            }
        }
    }

    .snewg{
        text-align: left;
        margin-top:1rem;
        margin-bottom: 2rem;
        font-weight: 400;
        margin-left: 0.5rem;
        .gr{
            display: flex;
            .t{
                margin-left:0.5rem;
                font-size: 1.05rem;
            }
        }
        .snew{
            color: #262626;
            font-weight: 400;
            font-size: 0.85rem;
            border: solid 1px #262626;
            padding: 0.5rem;
            border-radius: 5px;

            &:hover{
                color: #fff;
                background-color: #262626;
            }
        }
    }

}