.select-size-group{
    .otd{
        text-align: center;
        background: #888;
        color: #fff;
        margin-top: 1rem;
        font-size: 0.75rem;
        font-weight: 400;
    }
    table{
        width:100%;
        tr td{
            border:solid 1px #ccc;
            font-size:0.75rem;
            text-align: center;
        }
    }
}