.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.zscale-effect{
  transition: transform .2s;
}
.zscale-effect:active{
  transform: scale(1.2);
}

.zscale-effect2{
  transition: transform .2s;
}
.zscale-effect2:active{
  transform: scale(1.05);
}

.zcur:hover{
  color :#262626;
  cursor: pointer;
}

.animate::after {
  display: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  
  /* Center the ripple */
  top: 50%;
  left: 50%;

  animation: ripple 0.2s;
  opacity: 0;
}
.animate:focus:not(:active)::after {
  display: block;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.notification-error {
  background-color: #ef5350 !important;
  font-weight: 500 !important;
}

.zedit-item label.bmd-label-floating{
  margin-bottom: -2.5rem;
  color: #777;
}
.hidden{
  display:none !important;
}
.pointer{
  cursor: pointer;
}

.zz-mark-error{
  background: linear-gradient(-135deg, #ef5350 5px, transparent 0) 0 5px, linear-gradient(135deg, #ef5350 5px, #fff 0) 0 5px;
  background-color: #ef5350;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  color: #fff;
  padding: 0 3px;
}
.zz-mark-error:hover{
  color:#fff !important;
}

.zz-mark-success{
  background: linear-gradient(-135deg, #28a745 5px, transparent 0) 0 5px, linear-gradient(135deg, #28a745 5px, #fff 0) 0 5px;
  background-color: #28a745;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  color: #fff;
  padding: 0 3px;
}
.zz-mark-success:hover{
  color:#fff !important;
}

.zmark-error{
  color: #fff;
  background-color: #ef5350;
  border-radius: 5px;
  margin-top: -0.25rem;
  padding: 0.35rem 0.5rem 0.5rem 0.5rem;
}
.zmark-success{
  color: #fff;
  background-color: #28a745;
  border-radius: 5px;
  margin-top: -0.25rem;
  padding: 0.35rem 0.5rem 0.5rem 0.5rem;
}

.btn:not(:disabled):not(.disabled) {
  font-weight: 600;
}

.arcodion-group .answers-content-group{
  display: flex;
  margin-bottom: 1rem;
}
.arcodion-group .answers-content-group .material-icons{
  width:2rem;
  font-size: 1.5rem !important;
  color: #ccc;
}

.zcenter{
  display: flex;
  justify-content: center;
}

.zmargin_center{
  margin: 0 auto;
}

.zloading-item{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding-top:7rem;
}

.zdisabled{
  color: #ccc !important;
}

input[type='email'], input[type='password']{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.page-not-found{
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  color: #ccc;
  padding-left: 2rem;
}

.page-not-found .material-icons{
  font-size:1.5rem !important;
  color: #ccc;
  margin-top: 0.5rem;
}

.page-not-found .t{
  padding: 0.5rem;
  font-size: 1rem;
}

.data-is-empty{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: #ccc;
}

.data-is-empty .material-icons{
  font-size: 1.75rem !important;
  color: #ccc;
  margin-top: 0.35rem;
}

.data-is-empty .t{
  padding: 0.5rem;
  font-size: 1rem;
  color: #ccc;
}


#timeline svg{
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 3rem;
}

.loading-common{
  margin:0 auto;
  padding-top:6rem;
  margin-left:1rem;
}

.loading-common svg{
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  margin-bottom: 3rem;
}

.zellipis{
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zlink{
  color:#ef5350;
}

.zflex{
  display: flex;
}

.btn.zdisabled{
  background-color: #f7776e !important;
  color: #fff !important;
}

nav.znav{
  position: fixed;
  width:100%;
  z-index: 9;
  height:1.8rem;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.04), 0 7px 12px -5px rgba(0, 0, 0, 0.06) !important;
}

nav.znav-mobile{
  z-index: 9;
  background-color: #fff;
  height: 3rem;
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.04), 0 7px 12px -5px rgba(0, 0, 0, 0.06) !important;
  margin-top: 2.5rem;
}

nav.znav-mobile .mi{
  margin-top:0.55rem;
}

nav.znav-mobile .mi .active{
  color: #f44336;
}

.zf-pr{
  margin-top:0 !important;
}

.modal-title{
  font-weight: 600;
  color: #777;
}

.material-icons.zdone{
  font-size: 1.25rem !important;
  margin-top: 0.25rem;
}

/* .favorite-group:hover{
  color: #f44336 !important;
} */

.like-group:hover{
  color: #f44336 !important;
}

.material-icons.zlview{
  font-size: 1.3rem !important;
  margin-top: 0.28rem;
}

svg[role="img"]{
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1rem !important;
}

.transf{
  opacity: 0;
}
.eff-hide{
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
.eff-show{
  opacity: 1;
}

.color_placeholder{
  color:#ccc;
}

.zpointer:hover{
  /* color:#c2c2c2; */
  cursor: pointer;
}


.notification-num{
  position: absolute;
  top: 0.5rem;
  left: 1.75rem;
  background-color: #f44336;
  padding: 0.1rem 0.2rem;
  color: #fff;
  line-height: 1;
  border-radius: 2px;
  border:solid 0.05rem #fff;
}

.notification-nonum{
  position: absolute;
  top: 0.6rem;
  left: 1.75rem;
  background-color: #f44336;
  padding: 0 !important;
  color: #fff;
  line-height: 1;
  border-radius: 100%;
  min-width: 0.75rem;
  min-height: 0.75rem;
  border: solid 0.1rem #fff;
}

.notification-dialog{
  position: absolute;
  top: 15.7rem;
  width: 25rem;
  max-height: 30rem;
  min-height: 11rem;
  overflow-y: scroll;
  right: 2rem;
  border-radius: 5px;
  border: solid 1px #eee;
  background-color: #fff;
}

.notification-dialog.default{
  top:3.7rem;
  overflow: hidden;
}


.notification-dialog .user-item-group{
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto !important;
}

.notification-dialog .user-item-group:hover{
  background-color:  #f2f2f2;
}



.arrow-top:after {
  content: " ";
  position: absolute;
  right: 5.8rem;
  top: 2.7rem;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #eee;
}

.arrow-top-br:after {
  content: " ";
  position: absolute;
  right: 5.8rem;
  top: 2.8rem;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #fff;
}

.nav-item{
  cursor: pointer;
}
.shadow-s{
  -webkit-box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.03);
  -moz-box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.03);
  box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.03);
}
.shadow{
  -webkit-box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.11);
  box-shadow: 0px 10px 17px 1px rgba(0,0,0,0.11);
}
.shadow-top{
  -webkit-box-shadow: -1px -5px 17px -1px rgba(0,0,0,0.07);
  -moz-box-shadow: -1px -5px 17px -1px rgba(0,0,0,0.07);
  box-shadow: -1px -5px 17px -1px rgba(0,0,0,0.07);
}

.z-err-mask{
  color: #fff;
  background-color: #ef5350;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
}

.z-success-mask{
  color: #fff;
  background-color: #28a745;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.85rem !important;
  font-weight: 600 !important;
}

input.searchbox{
  width: 100%;
  border: solid 1px #eee;
  border-radius: 7px;
  padding: 0.25rem 0.5rem 0.25rem 2.2rem;
  font-size: 0.95rem;
  margin-top: 25.85rem;
}
@media (min-width:992px){
  input.searchbox{
    width:70%;
  }
}

input.searchbox.default{
  margin-top: 0rem !important;
}

input.searchbox:focus-within{
  border: solid 1px #ccc;
}

.form-inline .material-icons{
  position: absolute;
  margin-top: 0.05rem;
  margin-left: 0.5rem;
  font-size: 1.5rem !important;
  color: #ccc;
}

.form-inline .zsbox{
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin-top: 0.75rem;
  height: 25rem;
  background-color: #fff;
}
@media (min-width:992px){
  .form-inline .zsbox{
    width:70%;
  }
}

.mb-searchbox{
  background-color: #fff;
  z-index: 10;
  height: 3rem;
  position: relative;
  position: fixed;
  width: 100%;
}
@media (min-width:992px){
  .mb-searchbox{
    width:70%;
  }
}

.mb-searchbox{
  display: none;
}
.mb-searchbox .g{
  display:flex;
  justify-content: space-between;
}
.mb-searchbox .g svg.outlined{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.mb-searchbox .g .material-icons{
  background-color: #eee;
  width:2rem;
  height:2rem;
  padding: 0.15rem;
  border-radius: 50%;
}

@media (max-width:991px){
  .mb-searchbox{
    display: block;
  }
}

.znav .navbar-collapse{
  min-width: 19rem;
}

@media (max-width:992px){
  .navbar-collapse{
    display:none !important;
  }
}

.modal-dialog.fullscreen{
  margin: 0 !important;
  height:100%;
  max-width: 100%;
}

.modal-dialog.fullscreen .modal-content{
  height:100%;
  border-radius: unset;
}

.modal-dialog.fullscreen .modal-header{
  padding:0;
  margin: 0.5rem 0 0 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.modal-dialog.fullscreen .modal-header .close{
  padding:0;
  margin:0;
}

.modal-dialog.fullscreen .modal-header .close .material-icons{
  color: #000;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
}

.modal-dialog.fullscreen .modal-header .sbx{
  font-size: 0.85rem;
  flex-grow: 1;
  margin-right: 0.5rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 0.25rem;
  background: #eee;
  padding-left: 0.5rem;
}



/* Base css */
.zmain{
  padding-top:4rem;
}

.zmain .row{
  margin-bottom:0.5rem;
}

.zmain .row .col-md-6{
    margin:0 auto;
    /* background-color:#fff; */
}

.zmain .row .col-md-6.zbor{
  border: solid 1px #eee;
  border-radius: 5px;
}

.zmain .row .col-md-6 .zbod{
  margin-top: 1rem;
}

@media (max-width: 991px){
  ::-webkit-scrollbar {
    display:none !important;
  }
  
  .zmain .row .col-md-6 .ztit{
    padding-left:0.5rem;
  }
  .zmain .row .col-md-6 .zbod{
    padding-left:0.5rem;
    margin-top:1rem;
  }

  /* Use for form */
  .zmain.full{
    /* position:absolute; */
    width:100%;
    border:0;
    padding-top:6rem;
  }
  .zmain.full .row{
    margin-left: unset;
    margin-right: unset;
  }

  .zmain.full .row .col-md-6{
    border-radius: 0;
    border-right: unset;
    border-left:unset;
  }
}

.gload{
  padding-top: 6.6rem;
}

.dropdown-toggle{
  display: flex;
}

/* Replace css */
.notification-success:before {
  content: "" !important;
}

a[rel='noopener noreferrer']{
  color: #ef5350;
  word-break: break-all;
}

svg{
  border-radius: unset !important;
  box-shadow: none !important;
}

nav.bg-danger .nav-link[aria-expanded='true'] b.caret{
  color: #262626 !important;
}

.dropdown-toggle:after{
  color: #262626 !important;
}

.navbar.bg-danger .dropdown-item:hover, .navbar.bg-danger .dropdown-item:focus {
  box-shadow: none;
  background-color: #262626;
  border-radius: 0;
  color: #fff;
}

.togglebutton label input[type=checkbox]:checked+.toggle {
  background-color: #262626;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
  border-color: #262626;
}

.btn.btn-danger {
  color: #fff;
  background-color: #262626;
  border-color: #262626;
  box-shadow: none;
}
.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover {
  box-shadow: 0 14px 26px -12px rgba(38, 38, 38, 0.22), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(38, 38, 38, 0.2);
  color: #fff;
  background-color: #262626;
  border-color: unset;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show>.btn-danger.dropdown-toggle {
  color: #ffffff;
  background-color: #262626;
  border-color: #262626;
}

.btn.btn-danger.disabled:hover, .btn.btn-danger:disabled:hover {
  background-color: #262626;
  border-color: #262626;
}

.havenew{
  width: 0.35rem;
  height: 0.35rem;
  background-color: #e46774;
  border-radius: 100%;
  margin-left: 0.6rem;
  margin-top: -0.15rem;
}
.havenew.ofp{
  position: relative;
  top: 1.75rem;
  left: -1.25rem;
}

.alontop{
  z-index: 9;
}

.zdisabled svg{
  fill:#ccc !important;
}
.zdisabled .material-icons{
  color:#ccc !important;
}

div.modal{
  z-index: 9999;
}

.zckbox{
  border: solid 1px #262626;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  background-color:#fff;
}
.zckbox .material-icons{
  font-size: 1rem !important;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  color: #262626;
}
.zckbox.active{
  background-color:#262626;
}
.zckbox.active .material-icons{
  color: #fff !important;
}
input.txt{
  width: 100%;
  border: solid 1px #262626;
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
}
input.zdisabled{
  color: #777;
}

.successfully-content{
    background: #28a745;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
}
.load-in-textbox{
  position: absolute;
  right: 20.5rem;
}

.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 12rem;
}
.infinite-scroll-component {
  overflow-x: hidden !important;
}

.text-gradiant-red{
  background: -webkit-linear-gradient(#f6a3a2, #ef5350);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradiant-red-blue{
  background: -webkit-linear-gradient(#007bff, #ef5350);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradiant-green{
  background: -webkit-linear-gradient(#84e19a, #28a745);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradiant-blue{
  background: -webkit-linear-gradient(#84e19a, #007bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.emoji-picker.right085{
  right:0.75rem !important;
}
.tfb.zpointer{
  background-color: #fff;
}
.tgg.zpointer{
  background-color: #fff;
}
.of_cover{
  object-fit: cover;
}

/* Start fixed footer */
.fixed-footer{
  position: fixed;
  width: 100%;
  bottom: 1rem;
  display:flex;
}

@media (max-width:991px){
  .fixed-footer{
    display: none;
  }
}

.fixed-footer .col-md-3.l{
  text-align:right;
}
.fixed-footer .col-md-3.l .zcont{
  margin-right:1.5rem;
  font-size: 0.85rem;
  color: #b3b3b3;
  font-weight: 400;
}
.fixed-footer .col-md-6{
}
.fixed-footer .col-md-2.r .zcont{
  margin-right:1.5rem;
  font-size: 0.85rem;
  color: #b3b3b3;
  font-weight: 400;
  width:9rem;
  text-align: center;
}
.fixed-footer .col-md-2.r .zline{
  height:0.75rem;
}
/* End fixed footer */

/* Start left-right content */
.lrcontent{
  position: absolute;
  width: 100%;
  top: 4rem;
  display:flex;
}

@media (max-width:991px){
  .lrcontent{
    display: none;
  }
}

.lrcontent .col-md-3.l{
  position:fixed;
}
.lrcontent .col-md-3.l .zcont{
  margin-right:1.5rem;
  font-size: 0.85rem;
  color: #b3b3b3;
  font-weight: 400;
}
.lrcontent .col-md-2.r{
  margin-left: 75%;
}
.lrcontent .col-md-2.r .zcont{
  margin-right:1.5rem;
  font-size: 0.85rem;
  color: #b3b3b3;
  font-weight: 400;
  width:9rem;
  text-align: center;
}
.lrcontent .col-md-2.r .zline{
  height:0.75rem;
}
/* Start left-right content */

.zcont a{
  color:#b3b3b3;
}
.zcont:hover{
  cursor: pointer;
  color:#777;
}
button.zbtn{
  background: #262626;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#timeline{
  z-index:1
}


html,
body {
    overscroll-behavior-y: contain;
}
div{
  line-height: 1.45rem;
}

.poabs{
  position: absolute;
}


@media (max-width:991px){
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    display:none;
    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  html, body {
    /* overflow-x: hidden; */
  }
  .novScroll {
    /* position: relative; */
  }
}

.container{
  padding-right: unset !important;
  padding-left: unset !important;
}

.text-align-center{
  text-align: center;
}

.nf2{
  z-index: 1;
    margin: 0 auto;
    padding-top: 1.25rem;
}

/* End Base css */