.adapt-design-page-group{
    .pc{
        display:block,
    }

    .mobile{
        display:none;
        z-index: 100;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;

        &::-webkit-scrollbar {
            display: none;
        }

        .zheader{
            display: flex;
            padding-left: 0.5rem;
            padding-top: 0.5rem;
            position: fixed;
            width: 100%;
            z-index: 100;
            background:#fff;
            .ztitle{
                margin-top: 0.25rem;
                flex-grow: 1;
                text-align: center;
                margin-left: -2rem;
                font-weight: 400;
            }
        }
        .zbody{
            height:100%;
        }
    }

    @media all and (max-width: 991px) {
        .pc{
            display:none,
        }
        .mobile{
            display:block;
        }
    }
}