.rm-noti{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .material-icons{
        font-size: 1.25rem !important;
    }
}

@media (max-width: 991px) {
    .arrow-top-br {
      display: none;
    }
  }

@media (max-width: 991px) {
    .sp-st-noti {
      padding-top: 5.4rem;
    }
  }