.new-status-group{

    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
    border: solid 1px #eee;
    margin-right: 0.05rem;
    margin-bottom: 0.15rem;

    .setc-group{
        padding-top:1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: solid 1px #ccc;
        border-radius: 5px;
        background-color:#fff;

        .q-t-group{
            display: flex;
            .qt{
                flex-grow: 1;
                margin-left: 1rem;
                margin-top: -0.15rem;
                font-size: 0.95rem;
                font-weight: 400;
                color: #777;
            }
            .qx{
                cursor: pointer;
                color: #ccc;
                margin-top: -0.25rem;
                margin-right: 0.5rem;
                &:hover{
                    color:#777;
                }
            }
        }
        .q-t-owner{
            margin-left: 1rem;
            font-size: 0.85rem;
            .ln1{
                display:flex;
                .ln1_1{
                    display: flex;
                    .avt_1{
                        margin-left: 0.5rem;
                        margin-top: -0.35rem;
                    }
                    .n1_1{
                        margin-left:0.25rem;
                        font-weight: 400;
                    }
                }
            }
            .ln2{
                font-size: 0.75rem;
                color: #777;
                margin-top: -0.25rem;
            }
            .ln3{
                font-size: 0.95rem;
                border-left: solid 3px #ccc;
                padding-left: 1rem;
                margin-top: 0.5rem;
                line-height: 1rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }
        .qs-c-group{
            margin-bottom: 1rem;
            margin-top: 1rem;
            display:flex;
            justify-content: center;
            max-height: 31rem;
            overflow: hidden;
            margin-left: unset;
            margin-right: unset;

            .ql{
                width: 50%;
                overflow: hidden;
                img{
                    width:100%;
                }
            }

            .qr{
                width: 50%;
                overflow: hidden;
                img{
                    width:100%;
                }
            }

            .ql.center{
                width: 100%;
                text-align: center;
                img{
                    width:50%;
                }
            }


        }
        
    }

    .zitem{
        display: flex;
        margin-bottom: 0.5rem;

        &.br{
            border-bottom: solid 1px #eee;
            padding: 0.5rem;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            display:flex;
            flex-direction: column;

            .textarea-group{
                display:flex;
                textarea{
                  margin-right: 0.5rem;
                  flex-grow: 1;
                }
                .emoji-group{
                  .material-icons{
                    width: 3rem;
                    margin-top: 3rem;
                    margin-right: -1rem;
                    font-size: 1.5rem !important;
                    color: #777;
                    cursor: pointer;
                    &:hover{
                      color:#262626;
                    }
                  }
                  .emoji-picker{
                    position: absolute;
                    right: 1.85rem;
                    z-index: 99;
                  }
                }
              }



            .attached-status{
                background-color: #eee;
                margin-left: -0.5rem;
                margin-bottom: -0.5rem;
                margin-right: -0.5rem;
                padding: 0.5rem;
                height: 2rem;
                display: flex;

                .t{
                    flex-grow: 1;
                    margin-top: 0.25rem;
                    margin-left: 0.5rem;

                    .status-group{
                        display: flex;

                        .t2{
                            margin-right:0.5rem;
                        }
                        .material-icons{
                            color: #777;
                        }
                    }
                }
                .i{
                    font-size: 1.75rem !important;
                    margin-top: 0.05rem;
                    color:#ccc;
                    cursor: pointer;

                    &:hover{
                        color:#777;
                    }
                }
            }
        }

        .type{
            width: 100%;
            max-width: 23rem;
            margin-right: 0.75rem;

            .g{
                display: flex;
                .icon{
                    font-size:1.5rem;
                    margin-top:0.35rem;
                    margin-right:0.25rem;
                }
                .t{
                    margin-top:0.25rem;
                }
            }
            

        }

        textarea{
            margin-top: 0.25rem;
            height: 4rem !important;
            border: none;
            padding: 0.5rem 0.5rem;
        }

        &.tool-group{
            display: flex;
            margin-bottom: -0.1rem;
            .tool{
                display:flex;
                .in{
                    color:#ccc;
                    cursor: pointer;

                    &:hover{
                        color: #777;
                    }
                }
                .i{
                    color: #4b4f56;
                    cursor: pointer;
                    display: flex;
                    background: #f2f2f2;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    height: 1.5rem;
                    margin-right:0.75rem;
                    .di{
                        margin-left: 0.5rem;
                        font-weight: 400;
                        height: 2rem;
                        font-size: 1rem;
                    }
                    &:hover{
                        background-color: #eee;
                    }
                    &.active{
                        background-color: #d9d9d9;
                    }
                }
            }



            .post{
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
                width: 6rem;
                .rs{
                    margin-top:-0.35rem;
                    margin-left: 0.5rem;

                    .material-icons{
                        font-size: 1.2rem !important;
                    }
                    .material-icons-outlined{
                        font-size: 1.2rem !important;
                    }
                }
            }

            @media (max-width: 991px){
                .post{
                    display: none;
                    &.notsharemodel{
                        display:flex !important;
                        .btn-danger{
                            margin-right: 1rem;
                        }
                    }
                }
              }
        }
    }

    .post-header{
        display: none;
        background: #fff;
    }

    @media (max-width: 991px){
        .zitem.br{
            margin-right: -0.75rem;

            .textarea-group{
                margin-left: -0.5rem;
                display:flex;
                textarea{
                  margin-right: 0.5rem;
                  flex-grow: 1;
                }
                .emoji-group{
                  .material-icons{
                    width: 3rem;
                    margin-top: 3rem;
                    margin-right: -1rem;
                    font-size: 1.5rem !important;
                    color: #777;
                    cursor: pointer;
                    &:hover{
                      color:#262626;
                    }
                  }
                  .emoji-picker{
                    position: absolute;
                    right: 0.85rem !important;
                    z-index: 99;
                  }
                }
              }


        }
        .modal-dialog.fullscreen .post-header{
            display: inline;
            position: absolute;
            top: 0.75rem;
            right: 0.5rem;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 0.85rem;
            display: flex;
            &.zdisabled{
                color:#ccc;
            }
        }
        .setc-group{
            margin-right:1rem;
        }
      }

}

.nst-from-homepage{
    padding-top: unset;
    margin-top: 2.85rem;
    margin-bottom:-3.55rem
}

@media (max-width: 991px){

    .nst-from-homepage{
        padding-top: unset;
        margin-top: 5.5rem;
        margin-bottom: unset;
        .zbod.new-status-group{
            .zitem.br{
                height: 5rem !important;
            }
        }
    }
    .setc-group{
        .qs-c-group{
            margin-left: unset !important;
            margin-right: unset !important;
            .qr{
                width: 43% !important;
            }
        }
    }
    

    .attached-status{
        margin-left: -0.5rem !important;
        margin-right: 0.5rem !important;
        margin-bottom: -1rem !important;
    }

    .col-md-6.nsg{
        // margin-left: -1rem !important;
    }
    .new-status-group{
        width: 100%;
        border: unset;
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
        border-radius: unset;
    }
    .modal.show .modal-dialog.fullscreen .post-header{
        display: inline;
        position: absolute;
        top: 0.75rem;
        right: 0.5rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.85rem;
        display: flex;
        &.zdisabled{
            color:#ccc;
        }
    }
  }