.design-page-group-mobile{
    height:100%;
    background-color:#fafafa;
    .row{
        height:100%;
        margin-left:unset;
        margin-right: unset;
    }

    .col-md-6{
        border: unset;
        max-width: unset;
        background-color: #fff !important;
        color:#262626;

        .subing{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color:rgba(255, 255, 255, 0.6);
            z-index: 3;
            .ins{
                width: 2rem;
                margin: 0 auto;
            }
        }

        .gr1{
            display:flex;
            flex-direction: column;
            height:100%;

            .ds{
                padding:0.5rem;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;
                .design-tab-group{
                    margin-top: 2rem;
                    background: #fafafa;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-left: -0.5rem;
                    margin-right: -0.5rem;

                    .viewb{
                        width:100%;
                        height:100%;
                        object-fit: contain;
                    }

                    .editViewb{
                        position: absolute;
                        width:100%;
                        display: flex;
                        justify-content: center;
                        background: #262626;
                        color: #fff;
                        font-weight: 400;
                        font-size: 0.85rem;
                        cursor: pointer;
                        margin-top:-1.35rem;
                    }

                    .help-design{
                        padding:0 0.5rem;
                        flex-grow: 1;
                        background:#fff;
                        border-bottom: solid 3px #eee;
                        border-top: solid 3px #eee;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        .t2{
                            font-size: 0.95rem;
                            line-height: 1.25rem;
                            margin-top: 1rem;
                        }
                        .t{
                            text-align: center;
                            color: #777;
                            font-weight: 400;
                            cursor: pointer;
                            height: 100%;
                            display:flex;
                            flex-direction:column;
                            justify-content:center;
                        }
                    }
                    .design-group{
                        flex-grow: 1;
                        background-color: #fff;
                        border-bottom: solid 3px #eee;
                        border-top: solid 3px #eee;
                        min-height: 20rem;

                        &.removebot{
                            border-bottom-color: #ef5350;
                        }
                        &.removetop{
                            border-top-color: #ef5350;
                        }

                        .resize{
                            // overflow: auto;
                            &.active{
                                // resize: horizontal;
                            }
                        }

                        .img-preview, .img-preview_new{
                            width:auto;
                            // transform: scale(1) !important;
                            height:auto;
                            overflow:hidden;

                            .bl, .br{
                                display:none;
                                text-align:center;
                                border:solid 1px #eee;
                                flex-grow:1;
                                .material-icons{
                                    font-size: 1rem !important;
                                     color: #fff;
                                }
                            }
                            &.active{
                                border: 1px dotted rgb(204, 204, 204);
                                // border-bottom-right-radius: 16px;

                                .resize-box-group{
                                    display: flex;
                                    position: absolute;
                                    width: 100%;
                                    justify-content: center;
                                    background-color: rgba(0, 0, 0, 0.5);
                                    .bl, .br{
                                        display:block;
                                    }
                                }


                            }
                            img{
                                width: 8rem;
                                // height: 100%;
                                object-fit: fill;
                                cursor: move;
                            }
                            // &::-webkit-resizer {
                            //     background-color:#fff;
                            // }
                            // &.active::-webkit-resizer {
                            //     width:0.2rem;
                            //     height:0.2rem;
                            //     background-color:#28a745;
                            //     border-radius: 100%;
                            // }
                            .close-group{
                                width: 100%;
                                height: 1rem;
                                display: flex;
                                justify-content: center;
                                opacity: 0;
                                cursor: pointer;
                                margin-bottom: 0.25rem;
                                .material-icons{
                                    font-size: 1rem !important;
                                    color: #777;
                                    position: absolute;
                                    left: 0;
                                    padding: 0.5rem;
                                    margin-left: -0.45rem;
                                    margin-top: -0.47rem;
                                }
                            }
                            &.active .close-group {
                                opacity: 1;
                            }
                        }
                    }
                    .design-info{
                        height:8rem;
                        background-color:#fafafa;
                        z-index: 1;
                        overflow-x: scroll;

                        .set-total-price{
                            display: flex;
                            justify-content: center;
                            margin-bottom: 0.5rem;
                            margin-top:0.5rem;
                            .setl{
                                margin-right:0.5rem;
                            }
                            .setv{
                                color:#ef5350;
                                font-weight: 400;;
                            }
                        }
                        .name-mix-group{
                            display: flex;
                            margin-bottom: 0.5rem;
                            margin-right:0.5rem;
                            .txt{
                                border-right: unset;
                                border-top-right-radius: unset;
                                border-bottom-right-radius: unset;
                                padding-left:0.5rem;
                                margin-left:1rem;
                            }
                            button{
                                background-color: #262626;
                                color:#fff;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                padding:0.5rem;
                                cursor: pointer;
                                .material-icons{
                                    font-size:1rem !important;
                                }
                            }
                            .more{
                                margin-top:0.35rem;
                                margin-left:0.5rem;
                            }
                        }
                    }
                }
                .mixing-tab-group{
                    margin-top: 2rem;
                    height:100%;

                    .tabProgress{
                        .tab-item-group{
                            margin-bottom:1.5rem;
                            &.first{margin-top:1rem}
                            .tab-title{
                                display:flex;
                                justify-content: space-between;
                                border-bottom: solid 1px #ccc;
                                height:1.65rem;
                                cursor: pointer;
                                .left{
                                    display:flex;
                                    .l{
                                        margin-left: 0.25rem;
                                        font-size: 0.85rem;
                                    }
                                }
                                .right{
                                    .material-icons{
                                        font-size: 1rem !important;
                                    }
                                }
                                
                            }
                            .tab-content{
                                margin-top:0.5rem;

                                .item-progress-group{
                                    display: flex;
                                    justify-content: space-between;
                                    .material-icons{
                                        margin-left:0.5rem;
                                        margin-right:0.75rem;
                                        font-size: 1.5rem !important;
                                    }

                                    .item-group{
                                        margin-left: unset;
                                        margin-right: unset;
                                        border-radius: 5px;
                                        padding-left:0.5rem;
                                        margin:0.15rem;
                                        display:flex;
                                        cursor: pointer;
                                        margin-bottom:1rem;
                                        .item-preview{
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            img{
                                                width:5rem;
                                            }
                                        }
                                        .item-info{
                                            margin-left: 0.5rem;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: center;
                                            .n{
                                                text-overflow: ellipsis;
                                                margin-top: 0.25rem;
                                                line-height: 1.2rem;
                                            }
                                            .item-price{
                                                font-size: 0.95rem;
                                                color: #ef5350;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .collect-group-search{
                        .type-group{
                            margin-bottom: 0.5rem;
                            display: flex;
                            padding: 0.25rem 0.25rem 0.25rem 0.5rem;
                            border: solid 1px #eee;
                            border-radius: 5px;
                            .lbl{
                                font-weight: 400;
                                width:6rem;
                                color:#ccc;
                            }
                            .val{
                                flex-grow: 1;
                                select{
                                    width:100%; 
                                    font-weight: unset;
                                    cursor: pointer;
                                    background:#fff;
                                }
                            }
                            .material-icons{
                                font-size: 1.25rem !important;
                            }
                        }
                        .sb-group{

                        }
                    }

                    .items-mix-result{
                        margin-bottom:3rem;
                        .mix-item-group{
                            display: grid !important;
                            grid-template-columns: 50% 50%;
                            margin-top: -0.5rem;
                            .zit{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                flex-grow: 1;
                                border:solid 1px #eee;
                                margin-right:0.5rem;
                                margin-bottom:0.5rem;
                                padding:0.5rem;
                                background-color:#fff;
                                .tb{
                                    display: flex;
                                    justify-content: space-between;
                                    color: #777;
                                    .material-icons{
                                        font-size: 1.2rem !important;
                                        padding: 0.5rem;
                                        margin-left: -0.5rem;
                                        margin-top: -0.5rem;
                                        cursor: pointer;
                                        &.s{
                                            font-size: 1rem !important;
                                            margin-left: unset;
                                            margin-right:-0.5rem;
                                        }
                                    }
                                }
                                img{
                                    width:7rem;
                                    height:7rem;
                                    object-fit: contain;
                                    margin: 0 auto;
                                    cursor: pointer;
                                }
                                .price{
                                    text-align: center;
                                    margin-top: 0.45rem;
                                    font-size: 0.85rem;
                                    color: #ef5350;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            .btool{
                display:flex;
                justify-content: space-around;
                border-top: solid 2px #eee;
                position: fixed;
                bottom: 0;
                background: #fff;
                width: 100%;
                z-index: 2;
                .num{
                    background: #ef5350;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    position: absolute;
                    margin-left: 0.85rem;
                    margin-top: -0.35rem;
                    .nt{
                        color: #fff;
                        font-size: 0.75rem;
                        font-weight: 400;
                        margin-top: -0.25rem;
                        text-align: center;
                    }
                }
                .mni{
                    display: flex;
                    padding: 0.5rem;
                    .t{
                        margin-left: 0.25rem;
                        font-size: 0.95rem;
                        font-weight: 400;
                    }
                }
            }
        }

    }
}