.status-switch-group{
    margin-bottom:-3.5rem;

    .contain{
        // border: solid 1px #eee;
        border-radius: 5px;
        height: 2.5rem;
        display:flex;
        justify-content: space-around;
        // background-color:#fff;
        .ci{
            flex-grow: 1;
            text-align: center;
            background-color: #fff;
            padding-top: 0.35rem;
            font-size: 0.85rem;
            font-weight: 400;
            cursor: pointer;
            &:hover{
                background-color: #eee;
            }
            &.f{
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border: solid 1px #eee;
                border-right: none;
            }
            &.c{
                border: solid 1px #eee;
                border-right: none;
                border-left:none;
            }
            &.r{
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border: solid 1px #eee;
                border-left: none;
                margin-right: -0.15rem;
            }
            &.active{
                background-color:#262626;
                color:#fff;
            }
        }
    }


    &.mobile{
        display:none;
    }
}

@media (max-width: 991px) {
    .status-switch-group.d{
        display: none;
    }
    .status-switch-group.mobile{
        display: block;
        position: fixed;
        bottom: 3rem;
        z-index: 10;
        padding-top:0rem !important;
        .col-md-6{
            // margin-left: -1rem;
            // margin-right: -1rem;
            .ci{
                border-radius: unset;
                border-left: unset;
                border-right:unset;
                margin-bottom: -0.5rem;
            }
        }
    }
}

