.address-book{
    .zckbox{
        position: relative;
        margin-top: 0.5rem;
        margin-left: 0.25rem;
        width: 1.25rem;
        height: 1.25rem;
        .material-icons{
            font-size: 1rem !important;
            margin-left: 0.15rem;
            margin-right: 0.25rem;
            margin-top: -0.15rem;
            color: #262626;
        }
    }
    .address-item{
        margin-bottom:1rem;
        display:flex;
        .address-value{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-size: 0.95rem;
            color:#262626;
            flex-grow: 1;
    
            .name-phone{
                font-weight: 400;
            }
            .address-detail{
                line-height: 1.25rem;
                margin-top: 0.15rem;
            }
        }
        .more{
            margin-right: 0.5rem;
            .material-icons{
                font-size: 1.5rem !important;
            }
        }
    }
    .address-add-new{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        .in{
            border: solid 1px #262626;
            color: #262626;
            padding: 0.25rem 1rem;
            border-radius: 5px;
            font-weight: 500;
            font-size: 0.85rem;
        }
    }

}

.address-modal{
    // position: absolute;
    width: 100%;
    top: 0;
    z-index: 102;
    background: #fff;
    height: 100%;

    .zheader{
        display:unset;
    }
}

@media (min-width: 992px){
    .address-modal{
        // position: unset !important;
        width: 100%;
        z-index: 102;
        background: #fff;
        height: 100%;

        .address-new-modal-content {
            padding-top:1rem;
            .zheader{
                display:none;
            }
            .modal-item-group{
                padding-top: 2rem;
                border-top:solid 1px #eee;
            }
        }
    }
}

.address-new-modal-content{
    .modal-item-group{
        padding-top:4rem;
    }
    .zgrmobile{
        display:none;
    }
    .modal-item{
        margin-bottom:0.5rem;
        display: flex;
        input.txt{
            flex-grow: 1;
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            width: unset !important;
        }
        .textarea-group{
            border: solid 1px #262626;
            padding: 0.25rem;
            border-radius: 5px;
            width: 100%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            textarea{
                width:100%;
            }
        }
        .ddlist{
            width:100%;
            margin-left:0.5rem;
            &.lst{
                margin-right:0.5rem;
            }
            div:first-child{
                border-color:#262626 !important;
            }
        }
        &.zgr{
            display:flex;
            justify-content: space-around;
        }
    }
    .bottom-g{
        display: flex;
        justify-content: center;
        .g{
            border: solid 1px #262626;
            color: #262626;
            border-radius: 5px;
            width: 3rem;
            margin-right: 0.5rem;
            height:2rem;
            .material-icons{
                font-size: 1.15rem !important;
                display: flex;
                justify-content: center;
                margin-top: 0.45rem;
                color: #262626;
            }
            &:active{
                .material-icons{
                    color: #fff;
                }
                background-color: #262626;
            }
        }
    }
}

@media (max-width: 991px){
    .address-new-modal-content{
        .zgrmobile{
            display:unset !important;
            .ddlist{
                width: 100%;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
        .zgr{
            display:none  !important;
        }
    }

    .set-bookmark-group .address-modal{
        margin-left:-1rem;
    }
    .inBag.page2.pdetail .address-modal{
        position: fixed !important;
    }
    // .product-count-page-group .address-modal{
    //     position: unset !important;
    // }

    .address-modal{
        position: absolute;
        // margin-left: -1rem;
        .zheader{
            button.close{
                margin-right: 0.5rem;
            }
            .ztitle{
                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: 1rem;
                font-weight: 400;
                font-size: 1.1rem;
            }
        }
    }
    .address-book{
        .address-item{
            .moremb{
                display:flex;
                .material-icons{
                    padding: 0.5rem;
                    color: #777;
                    height: 1rem;
                    font-size:1rem !important;
                }
            }
        }
    }
}