
.zaccount-group{
    padding-top: 5.75rem;
    margin-bottom:3rem;

    .col-md-6{
        margin: 0 auto;
        background-color: #fff;
        border: solid 1px #eee;
        border-radius: 5px;
        padding-bottom: 1rem;
        padding:1rem;

        .t{
            margin-top: 1rem;
            font-size: 1.25rem;
        }
    }

    @media (max-width: 991px) {
        .col-md-6{
            background-color: #fff;
            position: absolute;
            top: 0;
            padding-top: 5.75rem;
            border:none;
        }
    }
}

.zedit-item{
    margin-top:1.75rem;
    margin-right:2rem;

    .zsocial-group{
        display: flex;
        flex-direction: row;

        .zi{
            margin-right:0.25rem;
        }
        .zl{
            margin-top:0.25rem;
            color:#ef5350;
            cursor: pointer;
            font-size:0.75rem;
            font-weight: 500;
        }

        .zdisabled{
            color:#ccc !important;
            cursor: not-allowed;
        }
    }
}

textarea.zdes{
    font-size: 1rem;
    height: 10rem !important;
    border-left: solid 1px #eee;
    border-radius: 0.15rem;
    border-right: solid 1px #eee;
    border-top: solid 1px #eee;
    padding:0.15rem;
}

.form-control:focus{
    border-color:#eee !important;
}

.zchange-pass{
    font-size:0.75rem;
    color:#ef5350;
    font-weight: 500;
    cursor: pointer;
    width: 8rem;
}

.zedit-item{
    .btn-cancel{
        margin-right:1rem;
    }
}