.set-bookmark-group{
    &.zmain{
        padding-top: unset;

        .col-md-6.zbor{
            background-color: #fff;
            padding-left: unset;
            padding-right: unset;

            .cig{
                margin-bottom: 2rem;
                margin-left:1rem;
                .it{
                    font-size: 0.85rem;
                    color: #262626;
                }
                .g1{
                    margin-left:0.75rem;
                    .gi{
                        margin-top: 0.75rem;
                        span{
                            color:#ef5350;
                            font-weight: 400;
                        }
                    }
                }
            }
            .ci{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                font-size: 0.95rem;
                margin-left:0.35rem;
                .t1{
                    width: 11rem;
                }
                .t2{
                    display: flex;
                    .t2_1{
                        margin-right:0.5rem;
                    }
                }
                span.code{
                    font-weight: 400;;
                }
            }
        }
    }

    .snewg{
        text-align: left;
        margin-top:1rem;
        margin-bottom: 1rem;
        font-weight: 400;
        margin-left: 0.5rem;
        .gr{
            display: flex;
            .t{
                margin-left:0.5rem;
                font-size: 1.05rem;
            }
        }
        .snew{
            color: #262626;
            font-weight: 400;
            font-size: 0.85rem;
            border: solid 1px #262626;
            padding: 0.5rem;
            border-radius: 5px;

            &:hover{
                color: #fff;
                background-color: #262626;
            }
        }
    }

}

@media (max-width:991px){
    .ci{
        .t2{
            display: flex;
            flex-direction: column;
        }
    }
}