.set-order-group{
    &.zmain{
        padding-top: unset;

        .col-md-6.zbor{
            background-color: #fff;
            padding-left: unset;
            padding-right: unset;

            .ci{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                .ic{
                    width: 11rem;
                    font-size: 0.95rem;
                    font-weight: 400;
                    cursor: pointer;
                    .icd{
                        margin-top: -0.25rem;
                        color: #777;
                        font-size: 0.75rem;
                    }
                }
                .cn{
                    flex-grow: 1;
                    margin-left: 0.5rem;
                    margin-right:0.5rem;
                    display:flex;
                    flex-direction: row;
                    .na{
                        font-weight: 300;
                        margin-right:0.5rem;
                        display: flex;
                        width: 10rem;
                        .nai{
                            margin-left:0.25rem;
                            font-size: 0.75rem;
                            text-transform: uppercase;
                        }
                    }
                    .pr{
                        color: #ef5350;
                        font-size: 0.85rem;
                        margin-top: -0.05rem;
                        margin-left: 0.5rem;
                        font-weight: 400;
                    }
                }
                .material-icons{
                    margin-right:1rem;
                }
            }

            .ci2{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                .ic{
                    width:4rem;
                    img{
                        width:4rem;
                    }
                }
                .cn{
                    flex-grow: 1;
                    margin-left: 0.5rem;
                    margin-right:0.5rem;
                    display:flex;
                    flex-direction: column;
                    .na{
                        font-weight: 300;
                    }
                    .pr{
                        color:#ef5350;
                    }
                }
                .material-icons{
                    margin-right:1rem;
                }
            }

            @media (max-width:991px){
                
                .cn{
                    flex-direction: column !important;
                    .na{
                        width: unset;
                    }
                    .pr{
                        color: #ef5350;
                        font-size: 0.85rem;
                        margin-left: unset !important;
                        font-weight: 400;
                    }
                }
                .ci{
                    .material-icons{
                        display: none !important;
                    }
                }
            }

        }
    }

    .snewg{
        text-align: left;
        margin-top:1rem;
        margin-bottom: 2rem;
        font-weight: 400;
        margin-left: 0.5rem;
        .gr{
            display: flex;
            .t{
                margin-left:0.5rem;
                font-size: 1.05rem;
            }
        }
        .snew{
            color: #262626;
            font-weight: 400;
            font-size: 0.85rem;
            border: solid 1px #262626;
            padding: 0.5rem;
            border-radius: 5px;

            &:hover{
                color: #fff;
                background-color: #262626;
            }
        }
    }

    .order-detail-info{
        padding-left: 1rem;
        .oi{
            margin-bottom: 1rem;
            .cancel-group{
                margin-top:2rem;
                margin-bottom: 1rem;;
                text-align: center;
                width: 8rem;
                padding: 0.25rem;
                border: solid 1px #262626;
                border-radius: 5px;
                color: #262626;
                font-size: 0.95rem;
                cursor: pointer;
                float:right;
                &:hover{
                    color:#fff !important;
                    background-color: #262626;
                }
            }
            .oil{
                font-size: 0.85rem;
                color: #777;
            }
            .oiv{
                margin-left: 1rem;
                margin-top: -0.15rem;
                .tt2{
                    font-size: 0.85rem;
                }
                .tt3{
                    .tt3i{
                        color:#ef5350;
                        font-weight:400
                    }
                }
                .oivs{
                    display: flex;
                    margin-top:0.5rem;
                    .it{
                        font-size: 0.65rem;
                        text-transform: uppercase;
                        font-weight: 400;
                        margin-top: -0.25rem;
                    }
                    .line{
                        width: 4rem;
                        border-top: solid 2px #eee;
                        margin-top: 1rem;
                        margin-left: -1.85rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }

    .order-detail-on-page{
       margin-top:4rem !important;
    }

    @media (max-width:991px){
        .order-detail-on-page{
            margin-top:5.5rem !important;
         }
         .set-order-group .snewg .gr .t{
            margin-right: 1.5rem !important;
         }
    }
}


@media (max-width:991px){
     .set-order-group .snewg .gr .t{
        margin-right: 1.5rem !important;
     }
     .set-order-group .order-detail-info .oi .oiv{
         margin-left:0.15rem !important;
     }
     .set-order-group .order-detail-info .oi .oiv .oivs .it {
        font-size: 0.55rem !important;
        line-height: 0.85rem !important;
        text-transform: unset !important;
        white-space: nowrap;
        margin-left: -0.5rem;
        margin-right: -1rem;
    }
    .set-order-group .order-detail-info .oi .oiv .oivs .line{
        width:2rem !important;
        margin-left:unset;
    }
    .orderCompleteIcon{
        margin-top:-0.1rem !important;
    }
}