.profile-info{

    margin: 0 auto;
    margin-bottom: 2rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    padding-left: unset;
    padding-right: unset;

    // .n-f-group{
    //     display: flex;
    //     justify-content: space-between;
    //     .material-icons{
    //         margin-top:-2.2rem;
    //     }
    //     .znn{
    //         margin-top:-0.15rem;
    //     }
    // }

    // @media (max-width: 1247px) {
    //     .f-info{
    //         display: none;
    //     }
    //     .btn-fl-sm{
    //         display: flex !important;
    //         margin-left:0rem !important;
    //         margin-top:1rem !important;
    //     }
    //     .zavatar-g{
    //         max-width: 100% !important;
    //     }
    // }

    // @media (max-width: 989px) {
    //     .zavatar-g{
    //         max-width: 100% !important;
    //         display: flex;
    //         justify-content: center;
    //         margin-left: -2rem;
    //     }

    //     .n-f-group{
    //         display: flex;
    //         justify-content: center !important;
    //         .material-icons{
    //             margin-top:-2.2rem;
    //         }
    //         .znn{
    //             margin-top:-0.15rem;
    //         }
    //     }
    // }

      
    .f-info{
        margin-top:1rem;

        .material-g{
            margin-top: -0.14rem;
            .material-icons{
                font-size: 1.25rem !important;
                margin-right: 0.2rem;
            }
        }
    }

    // .btn-fl-sm{
    //     display: none;
    //     margin-right:1rem;
    //     height: 2rem;
    //     margin-top: 2rem;
    //     margin-left: 1rem;
    // }

    .zavatar-g{
        max-width: 7rem;
        margin-top:-5rem;
        margin-left:-1rem;
        img{
            border:solid 5px #fafafa;
        }
        .zavatar{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: solid 1px #ccc;
            padding: 0.25rem;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .zcover-g{
        max-width: unset;
        width: 100%;
        flex: unset;
        margin: unset;
        padding-left:unset;
        padding-right:unset;
        margin-top:-2.5rem;
        img{
            border-radius: 5px;
            width: 100%;
            height: 22rem;
            object-fit: cover;
        }
        .zcover-line{
            width: 100%;
            background: rgba(255, 255, 255, 0.8);
            margin-top: -3rem;
        }
    }
    .uname-g{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        margin-top:-1rem;
    }
    
    .zname{
        font-weight: 400;
        font-size: 1.25rem;
        margin-top: 1rem;
    }
    .zfollow-info{
        margin-top: 0.5rem;
        text-align: center;
        .zlable{
            font-weight: 400;
            margin-right:0.75rem;
            cursor: pointer;
            font-size: 0.95rem;
        }
        .zlable:hover{
            color:#262626;
        }
    }
    .zdescription{
        margin-top:0.25rem;
    }
}

.uname-g{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top:-1rem;

    .zname{
        font-weight: 400;
        font-size: 1.25rem;
        min-width: 10rem;
        text-align: center;
        .flbt{
            margin-top:1rem;
            button{
                max-width:9.95rem;
                margin:0 auto;
            }
        }
    }
    .fl{
        margin-top:-5.35rem;
        button{
            margin: 0 auto;
            margin-top: 1rem;
        }
    }
    .zlable{
        font-weight: 400;
        margin-right:0.75rem;
        cursor: pointer;
        font-size: 0.95rem;
    }
    .zlable:hover{
        color:#262626;
    }
}

.tag-group{
    border-top: unset;
    border-bottom: unset;
    background:unset;
}

.uname-g-mobile{
    display:none;
}

@media (max-width:991px){
    .profile-info{
      padding-top: 7rem;
    }
    .tag-group{
        margin-left:unset !important;
        margin-right:unset !important;
        border-top: solid 1px #eee;
        border-bottom: solid 1px #eee;
        background:#fff;

        .ztag{
            margin-bottom: -0.55rem !important;
            .ztag-item{
                border:unset !important;
                border-radius: unset !important;
            }
        }
    }
    .zcover-line{
        display:none;
    }
    .zcover-g{
        img{
            border-radius: unset !important;
        }
    }
    .uname-g{
        display: none;
    }
    .uname-g-mobile{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        margin-top:-1rem;
        margin-left:unset;
        margin-bottom: 2rem;

        .zname{
            font-weight: 400;
            font-size: 1.25rem;
            min-width: 10rem;
            width:100%;
            max-width: unset;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        .fl{
            margin-top:0.25rem;
            button{
                margin: 0 auto;
                margin-top: 1rem;
            }
        }
        .zlable{
            font-weight: 400;
            cursor: pointer;
            font-size: 0.95rem;
            text-align: center;
        }
        .zlable:hover{
            color:#262626;
        }
    }
}


.tag-group{
    margin-left:1rem;
    margin-right:1rem;
    .ztag{
        margin: 0 auto;
        margin-top:1rem;

        .ztag-item{
            margin: 1rem;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            margin-bottom: -0.25rem;
            background: #fff;
            padding-top: 0.35rem;
            padding-bottom: 0.02rem;
            border: solid 1px #eee;
            border-radius: 5px;
            ul.g{
                width: 100%;
                padding: -1rem;
                padding-left: -1rem;
                display: flex;
                justify-content: center;
                margin-top: 0.95rem;
                font-size: 0.95rem;
                color: #262626;

                li{
                    display: flex;
                    margin-left:1.5rem;
                    .material-icons{
                        font-size: 1.5rem !important;
                        margin-top: 0.2rem;
                    }
                    .material-icons-outlined{
                        font-size: 1.5rem !important;
                        margin-top: 0.2rem;
                    }
                    div{
                        margin-top: 0.05rem;
                        margin-left: 0.25rem;
                    }
                    &.zdropdown{
                        .material-icons{
                            margin-top: -0.19rem;
                            color: #777;
                            font-size: 1.75rem !important;
                        }
                    }
                }
                li:nth-child(1){
                    margin-left:-1rem;
                }

                li:hover{
                    cursor: pointer;
                }
                li.active{
                    color: #262626;
                }
            }

            ul.g-mobile{
                display:none;
            }


            @media (max-width:991px){
                ul.g{
                    display:none;
                }
                ul.g-mobile{
                    width: 100%;
                    padding: -1rem;
                    padding-left: -1rem;
                    display: flex;
                    justify-content: space-between;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    font-weight: 600;
                    font-size: 0.85rem;
                    color: #a6a6a6;
    
                    li{
                        display: flex;
                        margin-left:1.5rem;
                        
                        .material-icons-outlined{
                            font-size: 2rem;
                        }
                        div{
                            margin-top: 0.25rem;
                            margin-left: 0.25rem;
                        }
                    }
                    li:nth-child(1){
                        margin-left:-1rem;
                    }
    
                    li:hover{
                        cursor: pointer;
                    }
                    li.active{
                        color: #262626;
                        height: 1.95rem;

                        svg{
                            path{
                                stroke: #262626;
                            }
                            polyline{
                                stroke: #262626;
                            }
                            line{
                                stroke: #262626;
                            }
                        }
                    }
                }
            }
            
        }

        @media (max-width:991px){
            .ztag-item{
                margin: 1rem;
                height:2rem;
                background-color:unset;
                padding: 0.5rem;
                margin-top:-0.5rem;
                li.zdropdown{
                    .material-icons{
                        margin-top: -0.5rem;
                        color: #262626;
                        margin-left: -1.5rem;
                        font-size: 1.75rem !important;
                    }
                }
            }
        }
    }

    @media (max-width:991px){
        .ztag{
            margin-bottom: -0.55rem !important;
        }
    }
}

.about-me-group{
    
    .zi-group{
        display: flex;
        margin-bottom:0.75rem;

        .material-icons{
            font-size: 1.5rem !important;
            padding-right: 0.5rem;
            color: #777;
        }

    }
}