.design-page-group{

    .resize{
        overflow: auto;
        padding:0.5rem;
        &.active{
            resize: both;
        }
    }

    .cmenu{
        display: flex;
        z-index: 9;
        justify-content: space-between;
        margin-bottom: 0.5rem !important;
        border-radius: 5px;
        background: #e7e7e7;
        color: #000;
        font-weight: 400;

        .left{
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
            
        }
        .right{
            display:flex;
            margin-right:-1rem;
            .material-icons{
                color:#777;
                &:hover{
                    color:#262626;
                }
            }
        }
        .center{
            text-transform: uppercase;
            font-size: 0.95rem;
            font-weight: 400;
            margin-top: 0.25rem;
        }
    }
    .col-md-6.zbor{
        max-width: unset;
        background-color: #fff !important;
        color:#262626;

        .gr1{
            display:flex;
            .ds{
                padding:0.5rem;
                display: flex;
                flex-direction: column;
                background-color: #fafafa;
                flex-grow: 1;
                .imgg{
                    background-color: #fff;
                    flex-grow: 1;
                    .viewb{
                        width:100%;
                        max-width: 24.75rem;
                        object-fit: contain;
                    }
                    .editViewb{
                        display: flex;
                        justify-content: center;
                        background: #262626;
                        color: #fff;
                        font-weight: 400;
                        font-size: 0.85rem;
                        cursor: pointer;
                    }
                    .img-preview, .img-preview_new{
                        width:10rem;
                        height:auto;
                        overflow:hidden;
                        &.active{
                            border: 1px dotted rgb(204, 204, 204);
                            border-bottom-right-radius: 22px;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                            cursor: move;
                        }
                        &::-webkit-resizer {
                            background-color:#fff;
                        }
                        &.active::-webkit-resizer {
                            width:0.2rem;
                            height:0.2rem;
                            border: dotted 1px #262626;
                            background-color:#fff;
                        }
                        .close-group{
                            width: 2rem;
                            display: flex;
                            justify-content: center;
                            margin-top: -0.25rem;
                            margin-left: -0.75rem;
                            opacity: 0;
                            cursor: pointer;
                            .material-icons{
                                font-size: 1rem !important;
                                color: #777;
                            }
                        }
                        &.active .close-group {
                            opacity: 1;
                        }
                    }
                }
                .set-total-price{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 0.5rem;
                    margin-top:0.5rem;
                    .setl{
                        margin-right:0.5rem;
                    }
                    .setv{
                        color:#ef5350;
                        font-weight: 400;;
                    }
                }
                .name-mix-group{
                    display: flex;
                    margin-bottom: 0.5rem;
                    margin-right:0.5rem;
                    .txt{
                        border-right: unset;
                        border-top-right-radius: unset;
                        border-bottom-right-radius: unset;
                        padding-left:0.5rem;
                    }
                    button{
                        background-color: #262626;
                        color:#fff;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        padding:0.5rem;
                        cursor: pointer;
                        .material-icons{
                            font-size:1rem !important;
                        }
                    }
                    .more{
                        margin-top:0.35rem;
                        margin-left:0.5rem;
                    }
                }
            }
            .collect{
                width:18rem;
                height:38rem;
                border-left:solid 5px #fafafa;
                padding:0.5rem;
                .mix-bar{
                    display: flex;
                    justify-content: space-around;
                    margin: 0 auto;
                    color:#777;
                    padding:0.15rem;
                    .t{
                        font-size: 0.85rem;
                        margin-left: 0.25rem;
                        margin-top: -0.1rem;
                    }
                    .ml{
                        display:flex;
                        cursor: pointer;
                    }
                    .mr{
                        display:flex;
                        cursor:pointer;
                    }
                    .active{
                        color:#262626;
                    }
                }
                .mix-content{
                    margin-top:1rem;
                    // margin-left: 0.5rem;
                    // margin-right: 0.5rem;
                    overflow-y: scroll;
                    overflow-x:hidden;

                    .collect-group-search{
                        .type-group{
                            margin-bottom: 0.5rem;
                            display: flex;
                            padding: 0.25rem 0.25rem 0.25rem 0.5rem;
                            border: solid 1px #eee;
                            border-radius: 5px;
                            .lbl{
                                font-weight: 400;
                                width:6rem;
                                color:#ccc;
                            }
                            .val{
                                flex-grow: 1;
                                select{
                                    width:100%; 
                                    font-weight: unset;
                                    cursor: pointer;
                                    background: #fff;
                                }
                            }
                            .material-icons{
                                font-size: 1.25rem !important;
                            }
                        }
                        .sb-group{

                        }
                    }

                    .items-mix-result{
                        .mix-item-group{
                            display: grid !important;
                            grid-template-columns: 8.75rem 8.75rem;
                            .zit{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                flex-grow: 1;
                                border:solid 1px #eee;
                                margin-right:0.5rem;
                                margin-bottom:0.5rem;
                                padding:0.5rem;
                                .tb{
                                    display: flex;
                                    justify-content: space-between;
                                    color: #777;
                                    .material-icons{
                                        font-size: 1.2rem !important;
                                        padding: 0.5rem;
                                        margin-left: -0.5rem;
                                        margin-top: -0.5rem;
                                        cursor: pointer;
                                        &.s{
                                            font-size: 1rem !important;
                                            margin-left: unset;
                                            margin-right:-0.5rem;
                                        }
                                    }
                                }
                                img{
                                    width:7rem;
                                    height:7rem;
                                    object-fit: contain;
                                    margin: 0 auto;
                                    cursor: pointer;
                                }
                                .price{
                                    text-align: center;
                                    margin-top: 0.45rem;
                                    font-size: 0.85rem;
                                    color: #ef5350;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    .item-mix-c-group{
                        display: flex;
                        justify-content: space-between;
                        .material-icons{
                            margin-left:0.5rem;
                            margin-right:0.75rem;
                            font-size: 1.5rem !important;
                        }
                        &:hover{
                            background-color: #eee;
                        }
                    }
                    .item-group{
                        margin-left: unset;
                        margin-right: unset;
                        border-radius: 5px;
                        padding-left:0.5rem;
                        margin:0.15rem;
                        display:flex;
                        cursor: pointer;
                        margin-bottom:1rem;
                        .item-preview{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            img{
                                width:5rem;
                            }
                        }
                        .item-info{
                            margin-left: 0.5rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .n{
                                text-overflow: ellipsis;
                                margin-top: 0.25rem;
                                line-height: 1.2rem;
                            }
                            .item-price{
                                font-size: 0.95rem;
                                color: #ef5350;
                            }
                        }
                    }

                    .tabProgress{
                        .tab-item-group{
                            margin-bottom:1.5rem;
                            &.first{margin-top:1rem}
                            .tab-title{
                                display:flex;
                                justify-content: space-between;
                                border-bottom: solid 1px #ccc;
                                height:1.65rem;
                                cursor: pointer;
                                .left{
                                    display:flex;
                                    .l{
                                        margin-left: 0.25rem;
                                        font-size: 0.85rem;
                                    }
                                }
                                .right{
                                    .material-icons{
                                        font-size: 1rem !important;
                                    }
                                }
                                
                            }
                            .tab-content{
                                margin-top:0.5rem;

                                .item-progress-group{
                                    display: flex;
                                    justify-content: space-between;
                                    .material-icons{
                                        margin-left:0.5rem;
                                        margin-right:0.75rem;
                                        font-size: 1.5rem !important;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}