
.access-group{
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    .login-footer.mobile{
        display: none;
    }
    .login-footer.pc{
        display: flex;
    }
    .row{
        display: unset;
    }
    .col-md-3{
        background-color:#fff;
        margin: 0 auto;
        border: solid 1px #eee;
        margin-top: 1rem;
        font-size: 0.85rem;
        border-radius: 5px;
        padding: 1rem;
        .zlogo{
            display: flex;
            justify-content: center;
            margin-top: 0.5rem;
            margin-bottom:1rem;
            img{
                width:6rem;
                object-fit: contain;
            }
        }
        .x-login{
            color: #262626;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            text-align: center;
            cursor: pointer;
            font-weight: 400;
            display: flex;
            justify-content: center;
            &.ls{
                margin-top: -0.15rem;
                margin-bottom:2rem;
            }
            i.fa-google-plus{
                color:#db4a39;
                font-size: 1rem;
                margin-top: 0.15rem;
                margin-right: 0.25rem;
            }
            i.fa-facebook-square{
                color:#3b5998;
                font-size: 1.05rem;
                margin-right: 0.25rem;
                margin-top: 0.25rem;
            }
            .tfb{
                color:#3b5998;
            }
            .tgg{
                color:#db4a39;
            }
        }
        .spl{
            margin-top:0.5rem;
            margin-bottom: 0.5rem;
            display: flex;
            .ln{
                flex-grow: 1;
                display: flex;
                .l1{
                    border-top: solid 1px #eee;
                    flex-grow: 1;
                    margin-top: 0.75rem;
                }
            }
            .tx{
                display: inline;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
        }
        .zi{
            margin-bottom: 0.5rem;
            display: flex;
            .zt{
                border: solid 1px #262626;
                flex-grow: 1;
                padding: 0.25rem 0.75rem;
                border-radius: 5px;
            }
        }
        .zi2{
            display: flex;
            .zabtn{
                flex-grow: 1;
                margin: 0 auto;
                background: #262626;
                color: #fff;
                padding: 0.25rem 0.25rem;
                border-radius: 5px;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                cursor: pointer;
            }
        }
        .zbt{
            display: flex;
            justify-content: space-between;
            margin-top: -0.15rem;
            margin-bottom: 1rem;
            .lk{
                cursor: pointer;
                color:#777;
                font-weight: 500;
                &:hover{
                    color:#262626
                }
            }
        }
    }

    .dng.col-md-3{
        background: unset;
        border: unset;
        margin-bottom: 3rem;
        .dngt{
            text-align: center;
            margin-bottom: 0.5rem;
            font-size: 0.85rem;
            font-weight: 400;
            color: #ccc;
        }
        .appg{
            display: flex;
            justify-content: space-around;
            img{
                width:8rem;
                height:3rem;
                object-fit: contain;
                &.zdisabled{
                    opacity: 0.3;
                }
            }
        }
    }
    
}

@media (max-width:991px){
    .container.access-group{
        padding-right: unset;
        padding-left: unset;
        margin-right: unset;
        margin-left: unset;
        background: #fff;
        min-height: 36rem;
        .login-footer.mobile{
            display: block;
            font-size: 0.55rem;
            .lfi{
                height:0.95rem;
                display:flex;
                justify-content: center;
                .zintro{
                    margin-left:0.5rem;
                    margin-right:0.5rem;
                }
            }
            .copyright{
                margin-top:0.5rem;
                margin-left:unset;
            }
            .qa{
                margin-top:0.25rem;
                margin-left:unset;
            }
        }
        .login-footer.pc{
            display: none;
        }
        .row{
            display: unset;
            flex-wrap: unset;
            margin-right: unset;
            margin-left: unset;
            .col-md-3{
                border:unset;
                margin-top:-3rem;
                padding-right: unset;
                padding-left: unset;
                .x-login{
                    .tfb{
                        background-color: #fff;
                    }
                    .tgg{
                        background-color: #fff;
                    }
                }
                .zi{
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                .zi2{
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
                .zbt{
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
            }
            .dng.col-md-3{
                display:none;
            }
        }
    }
}


.login-group{
    .content{
        margin-right: 2rem;

        .zforgot{
            margin-left: 4.25rem;
            color: #EF5250;
            font-weight: 500;
        }

        .zbottom{
            text-align: center;
    
            .zline{
                border-top: solid 1px #ccc;
                height: 0.5rem;
                opacity: 0.3;
                width: 20rem;
                margin: 0 auto;
            }
    
            .animate{
                color: #EF5250;
                cursor: pointer;
                font-weight: 500;
            }
        }

    }
}

.login-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.75rem;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    color: #262626;

    .zintro{
        font-weight: 500;
        cursor: pointer;
        color: #777;
        margin-left: 1.5rem;
        text-transform: uppercase;
        &:hover{
            color:#262626;
        }
    }
    .copyright{
        margin-left: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        color:#777;
    }
    .qa{
        margin-left: 2rem;
        text-transform: uppercase;
        font-weight: 500;
        color:#777;
    }

    .i-g{
        font-size:0.95rem;
        .block{
            margin-bottom: 0.5rem;
            display: flex;
        }
        .blocknf{
            margin-bottom: 0.5rem;
        }
        a{
            color: #777;
        }
        p{
            font-size: 0.95rem;
        }
        i.material-icons{
            color: #777;
            padding: 0 0.15rem;
        }

        @media (max-width: 991px) {
            .block{
                margin-bottom: 0.5rem;
                display: block;
            }
        }

    }

    .select-lang{
        font-weight: 500;
        margin:0;
        cursor: pointer;
        
        span[data-toggle="dropdown"]{
            cursor: pointer;
            color: #777;
            text-transform: uppercase;
            &:hover{
                color:#262626;
            }
        }
    }
    .item-footer{
        margin-left:1.5rem;
    }
}