.set-clother-group{
    &.zmain{
        padding-top: unset;

        .col-md-6.zbor{
            background-color: #fff;
            padding-left: unset;
            padding-right: unset;

            .ci{
                display: flex;
                width: 100%;
                padding: 0.5rem;
                height:4rem;
                &.first{
                    margin-top: 1rem;
                }
                .ic{
                    width: 5rem;
                    height: 100%;
                    transform: scale(0.4);
                    display:flex;
                    flex-direction: column;
                    justify-content: center;

                    .imgg{
                        display:flex;
                        justify-content: center;
                        flex-grow: 1;
                        img{
                            width:10rem;
                            object-fit: contain;
                        }
                    }


                }
                .cn{
                    flex-grow: 1;
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    .cnd{
                        color: #777;
                        font-size: 0.85rem;
                        margin-top: -0.25rem;
                    }
                }
                .smo{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    height: 100%;
                    margin-top: -1rem;
                }
                .material-icons{
                    margin-right:1rem;
                }
            }
        }
    }

    .snewg{
        text-align: center;
        margin-top:1rem;
        margin-bottom: 2rem;
        margin-left: 0.5rem;
        .snew{
            color: #262626;
            font-weight: 400;
            font-size: 0.85rem;
            border: solid 1px #262626;
            padding: 0.5rem;
            border-radius: 5px;
            margin-right:1rem;

            &:hover{
                color: #fff;
                background-color: #262626;
            }
        }
    }


    #share_info_modal{
        .modal.shareModal {
            .modal-body{
            padding-right: unset !important;
            padding-left: unset !important;
            padding: unset !important;
          }
          .zmain.full{
            padding-top: unset;
          }
        }
        .new-status-title{
            border-bottom: solid 1px #eee;
            padding-bottom: 0.5rem;
            display:flex;
            .material-icons{
                color: #777;
                margin-left: 0.5rem;
                margin-top: 0.15rem;
                z-index: 9;
            }
            .ti{
                flex-grow: 1;
                margin-top: 0.2rem;
                font-weight: 400;
                margin-left: 0.25rem;
            }
        }
    }

    @media (max-width:991px){
        .snewg .snew{
            margin-right: 1.5rem !important;
        }
        .ci .smo {
            margin-right: 1rem !important;
            .dropdown-menu{
                margin-right:1.5rem;
            }
        }
      }
    
}